.search-result {
  padding-top: 20px;
  position: relative;

  .search-result__content {
    width: 100%;

    .search-result__content-title {
      padding: 0 5px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .search-result__products {
    margin-bottom: 20px;
    position: relative;
  }

  .search-result__spinner {
    height: 300px;
  }

  .search-result__content {
    padding-top: 30px;
  }
}
