<div class="form-container">
  <form
    class="d-flex bg-light mt-3 p-2 border form-creation rounded flex-column align-items-center justify-content-center"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()">
    <h3>New project</h3>
    <label class="w-100">
      name:
      <input class="form-control" type="text" formControlName="name" placeholder="name">
    </label>
    <div class="d-flex flex-column flex-md-row w-100">
      <label>
        Market Segment
        <select class="browser-default custom-select">
          <option selected>Market Segment</option>
          <option value="1">Segment One</option>
          <option value="2">Segment Two</option>
          <option value="3">Segment Three</option>
        </select>
      </label>
      <label>
        Project Manager
        <select class="browser-default custom-select">
          <option selected>Project Manager</option>
          <option value="1">Manager One</option>
          <option value="2">Manager Two</option>
          <option value="3">Manager Three</option>
        </select>
      </label>
    </div>
    <div class="d-flex flex-column flex-md-row w-100">
      <label>
        Project code
        <input class="form-control" type="text" placeholder="number">
      </label>
      <label>
        Address:
        <input class="form-control" type="text" formControlName="name" placeholder="Address">
      </label>
    </div>
    <label class="w-100">
      description:
      <textarea class="form-control" type="text" formControlName="description">
    </textarea>
    </label>
    <div class="d-flex w-100 align-self-end justify-content-between">
      <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">
        <span *ngIf="formSubmit" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Submit
      </button>
      <button class="btn btn-warning" (click)=" formDone.emit(false)">close</button>
    </div>
  </form>
</div>
