<div class="how-it-works">
  <div class="container">
    <h2 class="how-it-works__title">How it works</h2>
    <div class="how-it-works__steps">
      <div class="how-it-works__steps-item">
        <div class="how-it-works__steps-item-label">1</div>
        <div class="how-it-works__steps-item-content">
          <div class="how-it-works__steps-item-text">
            You can view the range of goods on the <a routerLink="/inventory">Items</a>
          </div>
        </div>
      </div>
      <div class="how-it-works__steps-item">
        <div class="how-it-works__steps-item-label">2</div>
        <div class="how-it-works__steps-item-content">
          <div class="how-it-works__steps-item-text">
            On the <a routerLink="/inventory">Items</a> page you can select the product you are interested in
          </div>
        </div>
      </div>
      <div class="how-it-works__steps-item">
        <div class="how-it-works__steps-item-label">3</div>
        <div class="how-it-works__steps-item-content">
          <div class="how-it-works__steps-item-text">
            If the product is available for rent, then you can select the date you need
          </div>
        </div>
      </div>
      <div class="how-it-works__steps-item">
        <div class="how-it-works__steps-item-label">4</div>
        <div class="how-it-works__steps-item-content">
          <div class="how-it-works__steps-item-text">
            On the <a routerLink="/checkout">Checkout</a> page, you need to select the project to which the products you
            purchased relate.
          </div>
        </div>
      </div>
      <div class="how-it-works__steps-item">
        <div class="how-it-works__steps-item-label">5</div>
        <div class="how-it-works__steps-item-content">
          <div class="how-it-works__steps-item-text">
            After confirming the delivery date and registration, a manager will contact you.
          </div>
        </div>
      </div>
      <div class="how-it-works__steps-item">
        <div class="how-it-works__steps-item-label">6</div>
        <div class="how-it-works__steps-item-content">
          <div class="how-it-works__steps-item-text">
            You can view all your orders, and their status on the <a routerLink="/orders">Orders</a> page, when the time
            for renting the goods is near the end, you can fill out a return form, after which the manager will contact
            you.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
