.product-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  border: 1px solid #f8f9fa;
  border-radius: 4px;
  margin-top: 15px;

  // transition: background-color 0.3s ease;
  transition: box-shadow 0.2s, border 0.4s ease-out;

  &:hover {
    // background-color: #f8f8f8;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  }

  .category {
    margin-bottom: 1em;
    font-size: .857em;
    line-height: 1.05em;
    height: 1.05em;
    display: flex;
    color: #878787;

    &:hover {
      color: #333;
    }
  }

  .title {
    font-weight: 700;
    overflow: hidden;
    font-size: .857em;
    line-height: 1.167em;
    height: 2.334em;
    color: #0062bd;
  }

  .image {
    height: 200px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    .image__src {
      width: 100%;
    }
  }

  .price-options {
    justify-content: space-around;
    display: flex;
    height: 95px;

    .price-item {
      display: flex;
      flex-direction: column;
      width: 50%;


      .price-details {
        font-size: 90%;
      }
    }
  }
}
