<div class="product-item p-3">
  <div class="category">{{ product.firstCategory.name }}</div>
  <a class="title text-decoration-none text-center mb-1" [routerLink]="baseUrl + '/' + product.slug">
    {{ getFormattedProductTitle(product.name) }}
  </a>
  <a class="image" [routerLink]="baseUrl + '/' + product.slug">
    <img
      #img
      class="image__src"
      [src]="product.firstImage"
      (error)="img.src = 'https://placeholder.pics/svg/300/f8f9fa/000000-f8f9fa/' + product.name"
    />
  </a>
  <div class="price-options bg-light text-secondary w-100 mt-2">
    <div class="price-item d-flex justify-content-center">
      <span *ngIf="product.price" class="price-title font-weight-500 text-center">Purchase</span>
      <span [class.d-none]="product.price" class="price-title font-weight-500 text-center">Only rent</span>
      <span class="price-details text-center">
        {{ product.price | currency }}
      </span>
    </div>
    <div class="price-item d-flex border-left justify-content-center" *ngIf="product.availableForRent">
      <span class="price-title font-weight-500 text-center">Rent</span>
      <span class="price-details pl-2">
        {{ product.rentRates.pricePerDay ? '$' + product.rentRates.pricePerDay + '/day' : '' }}
      </span>
      <span class="price-details pl-2">
        {{ product.rentRates.pricePerWeek ? '$' + product.rentRates.pricePerWeek + '/wk' : '' }}
      </span>
      <span class="price-details pl-2">
        {{ product.rentRates.pricePerMonth ? '$' + product.rentRates.pricePerMonth + '/mo' : '' }}
      </span>
    </div>
  </div>
  <button mat-raised-button color="primary" [routerLink]="baseUrl + '/' + product.slug">
    <span>View More</span>
  </button>
</div>
