.categories-page {
  .categories-page__card {
    height: calc(100%);
    border: none;

    .categories-page__card-image-container {
      display: flex;
      height: 200px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      cursor: pointer;

      img {
        max-height: 190px;
      }
    }

    .categories-page__card-title {
      padding-top: 10px;
    }

    .categories-page__card-total {
      display: flex;
    }
  }
}
