<div class="footer-newsletter d-flex">
  <div class="container text-center py-2">
    <span class="text-white ">Shop By Department</span>

  </div>
</div>

<div class="container">
  <div class="row py-4 my-md-4">
    <div class="col-12 col-md-5">
      <div class="mr-1">
        <img [src]="'/assets/img/logo/header-logo.svg'" alt="Logo" style="height: 40px;">
      </div>
      <div class="my-2 d-flex flex-column">
        <small>Got Questions ? Call us 24/7!</small>
        <span style="font-size: 130%;">(800) 8001-8588, (0600) 874 548</span>
      </div>

      <!--<div style="display: inline-block; vertical-align: middle;"><b>ElrondSoft</b></div>-->
      <p>
        <!--<a class="mr-1" href="https://github.com/elrondsoft" target="_blank">-->
          <!--<img class="social-icon" src="/assets/img/social-icons/github-logo.svg">-->
        <!--</a>-->
        <a class="mr-1" href="https://www.linkedin.com/company/elrondsoft" target="_blank">
          <img class="social-icon" src="/assets/img/social-icons/linkedin.svg">
        </a>
        <a href="https://www.facebook.com/ElrondSoftware-399220207381181" target="_blank">
          <img class="social-icon" src="/assets/img/social-icons/facebook.svg">
        </a>
      </p>
      <!--<small class="d-block mb-3">powered by <i><a href="https://github.com/ultramarine256" target="_blank">ultramarine256</a></i></small>-->
      <small class="d-block text-muted">© 2019-20XX</small>
    </div>


    <div class="col-6 col-md d-none d-md-block">
      <h5 class="font-weight-500">Find It Fast</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted text-decoration-none" href="javascript:void(0)">Category 1</a></li>
        <li><a class="text-muted text-decoration-none" href="javascript:void(0)">Category 2</a></li>
        <li><a class="text-muted text-decoration-none" href="javascript:void(0)">Category 3</a></li>
        <li><a class="text-muted text-decoration-none" href="javascript:void(0)">Category 4</a></li>

      </ul>
    </div>
    <div class="col-6 col-md d-none d-md-block">
      <h5 class="font-weight-500 text-white">-</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted text-decoration-none" routerLink="/">Home</a></li>
        <li><a class="text-muted text-decoration-none" routerLink="/shop">Shop</a></li>
        <li><a class="text-muted text-decoration-none" routerLink="/categories">Categories</a></li>
        <li><a class="text-muted text-decoration-none" routerLink="/contact-us">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-6 col-md d-none d-md-block">
      <h5 class="font-weight-500">Customer Care</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted text-decoration-none" href="javascrpt:void(0)">My Account</a></li>
        <li><a class="text-muted text-decoration-none" href="javascrpt:void(0)">Track your Order</a></li>
        <li><a class="text-muted text-decoration-none" href="javascrpt:void(0)">Product Support</a></li>
        <li><a class="text-muted text-decoration-none" href="javascrpt:void(0)">FAQs</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="copyright-bar d-flex">
  <div class="container">

    <div class="d-flex justify-content-between my-2">
      <div class="d-flex align-items-center" style="font-size: 90%">
        © <span class="font-weight-500">OnShop</span>  - All Rights Reserved
      </div>
      <div class="d-none d-md-flex">
        <img src="https://demo2.madrasthemes.com/electro-wide/wp-content/uploads/2017/02/patment-icon.png"/>
      </div>

    </div>


  </div>
</div>
