<div class="container">
  <div class="projects">
    <ng-template #loader>
      <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

    <ng-container *ngIf="projects$ | async as projects; else loader">
      <div class="projects">
        <div *ngIf="projects.length == 0">
          User is included in 0 projects
        </div>
        <mat-accordion>
          <mat-expansion-panel class="my-1" *ngFor="let project of projects" [hideToggle]="!project.orders.length">
            <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
              <mat-panel-title class="projects__item-title py-3">
                <div class="d-flex flex-column w-25">
                  <b>{{ project.name }}</b>
                  <small *ngIf="project.code">code:{{ project.code }}</small>
                </div>
                <div class="w-50 d-none d-md-block">
                  <small *ngIf="project.description" style="line-height: 1;"
                    >{{ project.description | slice: 0:100 }} {{ project.description.length > 100 ? '...' : '' }}</small
                  >
                </div>
                <div class="d-flex flex-column text-right w-25">
                  <small *ngIf="project.estimatedStartDate">{{ project.estimatedStartDate | date }}</small>
                  <small *ngIf="project.estimatedStartDate">{{ project.address }}</small>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="projects__content" *ngIf="project.orders">
              <div class="projects__order">
                <div class="projects__order-item"><b>Number</b></div>
                <div class="projects__order-item"><b>User</b></div>
                <div class="projects__order-item"><b>Status</b></div>
                <div class="projects__order-item"><b>Total</b></div>
              </div>
              <div class="projects__order" *ngFor="let order of project.orders">
                <div class="projects__order-item">Order #{{ order.id }}</div>
                <div class="projects__order-item">
                  <span *ngIf="order.billing.fistName"
                    >{{ order.billing.fistName }} {{ order.billing.lastName }},
                  </span>
                  <span *ngIf="order.billing.phone">phone: {{ order.billing.phone }}, </span>
                  {{ order.billing.email }}
                </div>
                <div class="projects__order-item">
                  {{ order.status }}
                </div>
                <div class="projects__order-item">
                  <b>{{ order.total | currency }}</b>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  </div>
</div>
