<div class="container">
  <div class="projects">
    <ng-template #loader>
      <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

    <ng-container *ngIf="projects$ | async as projects; else loader">
      <div class="projects">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let project of projects" [hideToggle]="!project.orders.length">
            <mat-expansion-panel-header>
              <mat-panel-title class="projects__item-title">
                <span
                  ><b>{{ project.name }}</b>
                </span>
                <small *ngIf="project.description">{{ project.description }}</small>
                <small *ngIf="project.code">code:{{ project.code }}</small>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="projects__content" *ngIf="project.orders">
              <div class="projects__order">
                <div class="projects__order-item"><b>Number</b></div>
                <div class="projects__order-item"><b>User</b></div>
                <div class="projects__order-item"><b>Status</b></div>
                <div class="projects__order-item"><b>Total</b></div>
              </div>
              <div class="projects__order" *ngFor="let order of project.orders">
                <div class="projects__order-item">Order #{{ order.id }}</div>
                <div class="projects__order-item">
                  <span *ngIf="order.billing.fistName"
                    >{{ order.billing.fistName }} {{ order.billing.lastName }},
                  </span>
                  <span *ngIf="order.billing.phone">phone: {{ order.billing.phone }}, </span>
                  {{ order.billing.email }}
                </div>
                <div class="projects__order-item">
                  {{ order.status }}
                </div>
                <div class="projects__order-item">
                  <b>{{ order.total | currency }}</b>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  </div>
</div>
