<div class="d-flex justify-content-center align-items-center" style="height: 300px;" *ngIf="!didLoaded">
  <div class="spinner-grow text-primary" role="status"></div>
</div>

<div class="container mb-3" *ngIf="didLoaded">
  <h3>Orders</h3>
  <div class="d-flex flex-row w-100 py-3 border-bottom" *ngFor="let item of items">
    <div class="d-flex align-items-center flex-grow-1 pr-3">
      <a [routerLink]="'/'"></a> Order #{{item.id}}
    </div>
    <div class="d-flex align-items-center pr-3">
      {{item.total}}$
    </div>
  </div>
</div>
