.project-row {
  line-height: 2;
}
.users-table {
  width: 100%;
  margin: auto auto 20px;
  td,
  th {
    text-align: center;
    padding: 5px 10px;
  }

  .purchase-returns-page__rental-cell {
    width: 60px;
  }
}
