<div class="projects">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of items">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ item.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ item.description }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="projects__content">
        <app-orders-component [orders]="orders"></app-orders-component>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
