<div class="inventory-page">
  <a id="scrollView"></a>
  <mat-progress-bar
    class="inventory-page__progress-bar"
    *ngIf="isInProgress && !isFirstLoading"
    mode="query"
  ></mat-progress-bar>
  <div class="container mb-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-2 bg-white">
        <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/categories" class="text-decoration-none">Categories</a></li>
        <li *ngIf="bredCrumbCategory" class="breadcrumb-item active" aria-current="page">
          {{ categoryId ? bredCrumbCategory : 'All' }}
        </li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <ng-container *ngIf="isFirstLoading">
      <div fxFlex="row" fxLayoutAlign="center center" class="inventory-page__spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>

    <ng-container *ngIf="!isFirstLoading">
      <div class="inventory-page__content" fxLayout="row" fxLayoutGap="20px">
        <div fxHide.lt-sm fxFlex.lt-md="30" fxFlex="20">
          <app-inventory-filters
            [tags]="tags"
            [showTags]="showTags"
            [filters]="filters"
            (filterChanged)="onFilterChanged($event)"
          >
          </app-inventory-filters>
        </div>

        <div fxFlex.lt-sm="100" fxFlex.lt-md="70" fxFlex="80">
          <div fxLayoutAlign.gt-xs="end" fxLayoutAlign.xs="space-between" class="inventory-page__actions">
            <button fxHide.gt-xs color="primary" mat-raised-button (click)="openFilters()">Filters</button>
            <div class="inventory-page__actions">
              <select
                class="inventory-page__actions-item form-control"
                [formControl]="itemsPerPage"
                (ngModelChange)="onItemsPerPageChanged($event)"
              >
                <option *ngFor="let item of [25, 50, 100]" [selected]="item === itemsPerPage.value">{{ item }}</option>
              </select>

              <app-sorting-bar
                *ngIf="searchResult.items.length"
                class="inventory-page__sorting-bar"
                (sortTypeChanged)="onSortTypeChanged($event)"
              ></app-sorting-bar>
            </div>
          </div>

          <div class="inventory-page__empty-products" *ngIf="!searchResult.items.length">
            <h4>0 products</h4>
          </div>

          <div
            class="inventory-page__products"
            [ngClass]="{ 'inventory-page__products--loading': isInProgress }"
            fxLayout="row wrap"
          >
            <div
              fxFlex.xl="25"
              fxFlex.lg="33"
              fxFlex.md="50"
              fxFlex.sm="100"
              fxFlex.xs="100"
              *ngFor="
                let item of searchResult.items
                  | paginate
                    : {
                        itemsPerPage: itemsPerPage.value,
                        currentPage: currentPage,
                        totalItems: totalResults
                      }
              "
            >
              <app-product-item class="inventory-page__product-item" [product]="item" [baseUrl]="'/product'">
              </app-product-item>
            </div>
          </div>

          <div
            fxLayoutAlign="center center"
            class="inventory-page__pagination"
            [ngClass]="{ 'inventory-page__pagination--loading': isInProgress }"
            *ngIf="totalResults > itemsPerPage.value"
          >
            <pagination-controls
              (pageChange)="onPageChanged($event)"
              (pageBoundsCorrection)="onPageChanged($event)"
              maxSize="5"
              directionLinks="true"
              responsive="true"
              previousLabel="Previous"
              nextLabel="Next"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
