<footer class="site-footer mt-5">
  <div class="container">
    <div class="row justify-content-md-between">
      <div class="col-sm-12 col-md-4 mb-4">
        <h3 class="h5 mb-3">Company</h3>
        <p>
          OnShop is a clean, modern, user friendly, responsive WebApp, built for especially for E-commerce.
        </p>
      </div>
      <div class="col-6 col-md-4 mb-4">
        <h3 class="h5 mb-3">Contacts</h3>
        <ul class="nav flex-column">
          <li class="mb-1">
            1421 Coburn Hollow Road Metamora, Near Center Point, IL 61548.
          </li>
          <li class="mb-1">
            (251) 854-XXXX
          </li>
          <li class="mb-1">
            help@onshop.com
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2 mb-4">
        <h3 class="h5 mb-3">Quick Links</h3>
        <ul class="nav flex-column">
          <li class="mb-1"><a href="javascript:void(0)" (click)="scrollTo(SCROLL_ANCHORS.technology)" class="text-decoration-none">Technology</a></li>
          <li class="mb-1"><a href="javascript:void(0)" (click)="scrollTo(SCROLL_ANCHORS.examples)" class="text-decoration-none">Examples</a></li>
          <li class="mb-1"><a href="javascript:void(0)" (click)="scrollTo(SCROLL_ANCHORS.aboutUs)" class="text-decoration-none">About Us</a></li>
        </ul>
      </div>
    </div>

    <hr class="m-0" role="presentation">

    <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center">
      <p class="my-3 small text-muted">© OnShop 2020</p>

<!--      <ul class="list-inline">-->
<!--        <li class="list-inline-item">-->
<!--          <a class="icon icon-sm icon-dark" href="#">-->
<!--            <i class="icon-inner fab fa-twitter" aria-hidden="true"></i>-->
<!--            <span class="sr-only">Twitter</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="list-inline-item">-->
<!--          <a class="icon icon-sm icon-dark" href="#">-->
<!--            <i class="icon-inner fab fa-facebook-f" aria-hidden="true"></i>-->
<!--            <span class="sr-only">Facebook</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->

    </div>
  </div>
</footer>
