.mobile-header {
  // background-color: #2C98F0;
}

/**
* ------------------------------------------------------------------------
* Menu Top Bar
* ------------------------------------------------------------------------
*/

.menu-top-bar {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;

  li {
    display: inline-block;

    a {
      color: #334141;
      font-size: .9em;
      text-decoration: none;
    }
  }
}

.menu-top-bar-right {
  li {
    &:before {
      content: '|';
      color: #cad5d5;
      display: inline-block;
      margin: 0 1em;
    }
  }
}

/**
* ------------------------------------------------------------------------
* Master Menu
* ------------------------------------------------------------------------
*/

.masthead {
  .logo {
    min-width: 250px;
    display: flex;
    align-items: center;

    img {
      width: 145px;
    }
  }

  .support {

    .support__container {


      .support__image {
        height: 40px;
      }

      .support__text {
        color: #333e48;
        font-size: 0.9em;
        line-height: 1.714em;

      }
    }


  }
}

.menu-main-menu {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;

  .menu-item {
    display: inline-block;
    margin-left: 2em;

    &:first-child {
      margin-left: 0 !important;
    }

    a {
      text-decoration: none;
      color: #333e48;
      font-weight: 700;
      font-size: 1em;
    }
  }
}

/**
* ------------------------------------------------------------------------
* Search Bar
* ------------------------------------------------------------------------
*/

.searchbar {
  background-color: #2C98F0;
  display: flex;

  .searchbar__inner {
    display: flex;
    align-items: center;
    width: 100%;
    .searchbar__space {
      width: 10%;
      height: 20px;
    }

    .searchbar__input-group {
      display: flex;
      height: 41px;
      width: 100%;
      .input-search-field {
        width: 100%;
        input {

          height: 100%;
          border: none;
          border-radius: 20px 0px 0px 20px;
          padding: .3em 2.134em;
        }
      }

      .search-categories {
        select {
          border: none;
          height: 100%;
          border-radius: 0px;
        }
      }

      .input-group-btn {
        button {
          height: 100%;
          border-radius: 0px 5px 5px 0px;
        }

      }
    }

    .searchbar__icons {
      display: flex;
      height: 100%;

      .icon-item {
        display: flex;
        align-items: center;
      }
    }
  }
}





