<div *ngIf="users " class="w-100">
  <div class="container">
    <div class="row  d-flex align-items-center border-bottom">
      <div class="col-1 tabel-element">
        #
      </div>
      <div class="col-3 tabel-element ">
        Name
      </div>
      <div class="col-3 tabel-element">
        Last Name
      </div>
      <div class="col-4 tabel-element">
        Email
      </div>
      <div class="col-1 tabel-element">
        <i class="material-icons">
          edit
        </i>
      </div>
    </div>
    <div *ngIf="projectUsers">
      <div *ngFor="let user of projectUsers;let i=index " class="row small">
        <div class="col-1 tabel-element">
          {{user.id}}
        </div>
        <div class="col-3 tabel-element">
          {{user.name}}
        </div>
        <div class="col-3 tabel-element">
          {{user.lastName}}
        </div>
        <div class="col-4 tabel-element">
          {{user.email}}
        </div>
        <div class="col-1 tabel-element btn text-danger">
          <i class="material-icons" (click)="deleteFromProject(user,i)">
            clear
          </i>
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-end m-2">
      <div class="btn btn-sm btn-primary" (click)="showAllUsers=!showAllUsers">Add new user</div>
    </div>
  </div>
  <div *ngIf="showAllUsers" class="container mt-3 mb-3">
    <div class="row d-flex align-items-center border-bottom">
      <div class="col-1 tabel-element">
        #
      </div>
      <div class="col-3 tabel-element ">
        Name
      </div>
      <div class="col-3 tabel-element">
        Last Name
      </div>
      <div class="col-4 tabel-element">
        Email
      </div>
      <div class="col-1 tabel-element">
        <i class="material-icons">
          edit
        </i>
      </div>
    </div>
    <div *ngFor="let user of users;let i=index" class="row small">
      <div class="col-1 tabel-element">
        {{user.id}}
      </div>
      <div class="col-3 tabel-element">
        {{user.name}}
      </div>
      <div class="col-3 tabel-element">
        {{user.lastName}}
      </div>
      <div class="col-4 tabel-element">
        {{user.email}}
      </div>
      <div class="col-1 tabel-element btn text-success" (click)="addProjectUser(user,i)">
        <i class="material-icons">
          add_box
        </i>
      </div>
    </div>
  </div>
</div>
