/**
* ------------------------------------------------------------------------
* Hide Footer
* ------------------------------------------------------------------------
*/

#wpfooter {
  display: none;
}

/**
* ------------------------------------------------------------------------
* Hide Redundat Menu
* ------------------------------------------------------------------------
*/

#wp-admin-bar-comments,
#wp-admin-bar-new-content,
#wp-admin-bar-wp-logo,
#dashboard_right_now,
#dashboard_activity,
#dashboard_primary,
#screen-meta-links {
  display: none !important;
}

li:nth-last-child(-n+2) {
  color: red;
}

/**
* ------------------------------------------------------------------------
* Hide Preview Button
* ------------------------------------------------------------------------
*/

#preview-action {
  display: none;
}

/**
* ------------------------------------------------------------------------
* Hide Product Permalink
* ------------------------------------------------------------------------
*/

#edit-slug-box {
  display: none;
}

/**
* ------------------------------------------------------------------------
* Hide Preview
* ------------------------------------------------------------------------
*/

.row-actions .view {
  display: none;
}

/**
* ------------------------------------------------------------------------
* Order Visibility
* ------------------------------------------------------------------------
*/

#woocommerce-order-downloads {
  display: none;
}

#footer-left {
  display: none;
}

#postexcerpt {
  display: none;
}
