<div class="container">
  <div class="col-12 d-flex justify-content-center my-3">
    <div class="pagination-box border rounded mr-2" (click)="pagination(-1, false, false)">
      <i class="material-icons">
        arrow_back_ios
      </i>
    </div>
    <div class="d-flex">
      <button class="btn btn-sm btn-primary pagination-box" (click)="pagination(0, true, false)">
        <span>{{ pageCounter }}</span>
      </button>
      <div *ngIf="pageCounter != inventoryCount" class="mx-3">
        /
      </div>
      <div
        *ngIf="inventoryCount && pageCounter != inventoryCount"
        class="btn btn-sm btn-outline-primary pagination-box"
        (click)="pagination(3, false, true)"
      >
        {{ inventoryCount }}
      </div>
    </div>
    <div class="pagination-box border rounded ml-2" (click)="pagination(1, false, false)">
      <i class="material-icons">
        arrow_forward_ios
      </i>
    </div>
  </div>
</div>
