<div class="container">
  <div class="project">
    <ng-template #loader>
      <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

    <ng-container *ngIf="projectData$ | async as projectData; else loader">
      <div class="project__content">
        <h3 class="project__title">Project info</h3>
        <div><b>Title:</b> {{ projectData.project.name }}</div>
        <div *ngIf="projectData.project.description"><b>Description:</b> {{ projectData.project.description }}</div>
        <div *ngIf="projectData.project.code"><b>Code:</b> {{ projectData.project.code }}</div>
      </div>
      <div class="project__content" *ngIf="projectData.project.orders.length">
        <h3 class="project__title">Orders</h3>
        <div class="project__order">
          <div class="project__order-item"><b>Number</b></div>
          <div class="project__order-item"><b>User</b></div>
          <div class="project__order-item"><b>Status</b></div>
          <div class="project__order-item"><b>Total</b></div>
        </div>
        <div class="project__order" *ngFor="let order of projectData.project.orders">
          <div class="project__order-item">Order #{{ order.id }}</div>
          <div class="project__order-item">
            <span *ngIf="order.billing.fistName">{{ order.billing.fistName }} {{ order.billing.lastName }}, </span>
            <span *ngIf="order.billing.phone">phone: {{ order.billing.phone }}, </span>
            {{ order.billing.email }}
          </div>
          <div class="project__order-item">
            {{ order.status }}
          </div>
          <div class="project__order-item">
            <b>{{ order.total | currency }}</b>
          </div>
        </div>
      </div>
      <div class="project__content" *ngIf="projectData.users.length">
        <h3 class="project__title">Project users</h3>
        <div class="project__order">
          <div class="project__order-item"><b>Name</b></div>
          <div class="project__order-item"><b>Email</b></div>
        </div>
        <div class="project__order" *ngFor="let user of projectData.users">
          <div class="project__order-item">{{ user.first_name }}</div>
          <div class="project__order-item">{{ user.email }}</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
