.category-item {
  height: 100%;
  border-radius: 5px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2) !important;
  }

  .category-item__image-container {
    display: flex;
    height: 200px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .category-item__title {
    padding: 10px;
    text-align: center;
  }

  .category-item__total {
    display: flex;
  }
}
