<div class="container ">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light my-2 px-3 ">
      <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none">Projects</a></li>
      <li *ngIf="entity" class="breadcrumb-item active">{{entity.name}}</li>
    </ol>
  </nav>
</div>
<div *ngIf="!entity" class="d-flex justify-content-center align-items-center" style="height: 300px;">
  <div class="spinner-grow text-primary" role="status"></div>
</div>
<div *ngIf="entity" class="container">
  <div class="row">
    <div class="w-100 d-flex justify-content-between px-3 mb-0 align-items-center">
      <h4>{{entity.name}}</h4>
      <button class="btn btn-sm d-flex justify-content-center text-danger p-1 mt-2"
              (click)="deleteCurrentProject(entity.id)">
        Remove <i class="material-icons ">delete</i>
      </button>
    </div>
    <div class="col-md-6 d-flex flex-column small p-3">
      <p class="text-muted">
        {{entity.description}}
      </p>
    </div>
    <div class="col-md-12">
      <div>
        <app-project-users *ngIf="entity.id" [projectId]="entity.id"></app-project-users>
      </div>
    </div>
  </div>
</div>
