<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light my-2 px-3 px-0">
      <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none">Projects</a></li>
      <li class="breadcrumb-item active">{{ entity.name }}</li>
    </ol>
  </nav>
</div>
<div *ngIf="didLoaded" class="d-flex justify-content-center align-items-center" style="height: 300px;">
  <div class="spinner-grow text-primary" role="status"></div>
</div>
<div *ngIf="!didLoaded" class="container">
  <div class="row">
    <div class="w-100 d-flex justify-content-between px-3 mb-0 align-items-center py-1">
      <h4>{{ entity.name }}</h4>
      <div class="d-flex align-items-center justify-content-center">
        <button mat-button [matMenuTriggerFor]="menu">
          <i class="material-icons">more_vert</i>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item class="text-danger" (click)="deleteCurrentProject(entity.id)">
            Delete
          </button>
          <button mat-menu-item class="text-primary">Edit</button>
        </mat-menu>
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column small p-3">
      <p class="text-muted">
        {{ entity.description }}
      </p>
    </div>
    <div class="col-md-12">
      <app-project-users
        [allItems]="allUsers"
        [existingItems]="existingUsers"
        [isProcessing]="isProcessing"
        (added)="addUser($event)"
        (deleted)="deleteUser($event)"
      ></app-project-users>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="ModalLongTitle">Delete</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Delete current project from the list?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteCurrentProject(entity.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
