.footer {
  &.footer--guest {
    background-color: #eaeaea;
    height: 100%;
  }

  .footer__info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    @media only screen and (max-width: 600px) {
      justify-content: center;
    }
  }

  .footer__info-logo {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  .footer__phone {
    text-align: right;
    font-weight: bold;
    font-size: 20px;

    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }
}

.footer-newsletter {
  height: 50px;
  background-color: #2c98f0;
}

.copyright-bar {
  background-color: #eaeaea;
}

.social-icon {
  height: 26px;
}
