.main-loader {
  position: relative;
  width: 100%;
  height: 100vh;

  mat-spinner {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
}

.top-menu {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.9em;
}

.link {
  position: relative;
  color: #666;
  display: inline-block;
  text-align: center;
  padding: 10px 5px;

  &.is-active {
    color: #03a9f4 !important;
    &:after {
      transform: scaleX(1);
    }
  }

  &:after,
  &:before {
    display: block;
    content: '';
    border-bottom: solid 3px #03a9f4;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:hover:after {
    transform: scaleX(1);
  }
}

.link-animation:hover:after {
  transition-delay: 150ms;
}

.toolbar {
  background: #fff;

  .toolbar__content {
    width: 100%;

    button {
      margin-right: 10px;
    }
  }

  .toolbar__logo {
    position: relative;
    margin-right: 10px;
  }

  .toolbar__icons {
    line-height: 0;

    .toolbar__icons-item {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.87);

      &:hover {
        color: #2c98f0;
      }
    }
  }
}

.sidenav {
  width: 270px;

  .sidenav__move-back {
    padding: 0 5px;
    margin-bottom: 10px;
  }

  .sidenav__inventory-all {
    display: block;
    height: 40px;
    padding: 20px;
    font-weight: bold;
  }

  .sidenav__panel {
    margin: 0;
    border-top: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;

    &:last-child {
      border-bottom: 1px solid #eee;
    }

    .sidenav__panel-link {
      display: block;
      width: 100%;
      padding: 10px 0;
    }
  }

  .sidenav__panel-header {
    font-weight: bold;
  }

  .sidenav__products {
    padding-bottom: 10px;
  }

  .sidenav__products-item {
    display: block;
    padding: 5px 20px 5px 40px;

    &:hover {
      background: #eee;
    }
  }
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .app-content {
    flex: 1;
    min-height: 70vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.categories-menu__products-item {
  display: block;
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.87);

  &:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.04);
  }
}

.support {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;

  .support__image {
    height: 40px;
    margin-right: 10px;
  }
}

.searchbar {
  background-color: #2c98f0;
  padding: 5px 0;

  .searchbar__inner {
    display: flex;
    align-items: center;
    width: 100%;

    .searchbar__space {
      width: 10%;
      height: 20px;
    }

    .searchbar__input-group {
      display: flex;
      height: 41px;
      width: 100%;

      .input-search-field {
        width: 100%;

        input {
          height: 100%;
          border: none;
          border-radius: 20px 0px 0px 20px;
          padding: 0.3em 2.134em;
        }
      }

      .search-categories {
        select {
          border: none;
          height: 100%;
          border-radius: 0px;
        }
      }

      .input-group-btn {
        button {
          height: 100%;
          border-radius: 0px 5px 5px 0px;
        }
      }
    }

    .searchbar__icons {
      display: flex;
      height: 100%;

      .icon-item {
        display: flex;
        align-items: center;
      }
    }
  }

  .footer {
    &.footer-is-guest {
      height: 100px;
      display: block;
    }
  }
}

.sidenav-container.sidenav-container--is-open {
  height: calc(100vh - 102px);
}

.sidenav-content {
  display: initial;
}

.nav {
  display: flex;
  align-items: center;

  .nav__item {
    font-size: 16px;
    margin-right: 10px;
    line-height: 25px;
  }

  .icon {
    position: relative;
    top: 7px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  li {
    z-index: 999;
  }

  li {
    position: relative;

    a {
      display: block;
      color: #111;
      text-decoration: none;
      padding: 5px 10px;
      line-height: 30px;
      position: relative;
    }
  }

  > li {
    float: left;
  }

  li:hover > a {
    color: #2c98f0;
    &:after {
      transform: scaleX(1);
    }
  }

  > li:first-child > a {
    border-radius: 4px 0 0 0;
  }
  > li:last-child {
    border-radius: 0 0 4px 0;
    margin-right: 0;
  }
  > li:last-child > a {
    border-radius: 0 4px 0 0;
  }

  li a:first-child:nth-last-child(2):before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    right: 5px;
  }

  /* submenu positioning*/
  ul {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    left: -99999em;
  }
  > li:hover > ul {
    left: auto;
    padding-top: 5px;
    min-width: 100%;
  }

  > li li:hover > ul {
    left: 100%;
    top: 4px;
  }

  /* arrow hover styling */
  > li:hover > a:first-child:nth-last-child(2):before {
    margin-top: -5px;
  }
  li li > a:first-child:nth-last-child(2):before {
    margin-top: -5px;
  }
  li li:hover > a:first-child:nth-last-child(2):before {
    right: 10px;
  }
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .mat-menu-panel {
  min-height: 0 !important;
}

::ng-deep .mat-menu-content {
  max-height: 300px;
}
