<div #colorFilter class="col-12 d-flex justify-content-between my-2 p-0" style="cursor:pointer"
     (click)="colorFilter.isVisible =! colorFilter.isVisible">
  <b>Color</b>
  <div class="d-flex align-items-center ">
    <i *ngIf="!colorFilter.isVisible" class="material-icons mx-2">keyboard_arrow_down</i>
    <i *ngIf="colorFilter.isVisible" class="material-icons mx-2">keyboard_arrow_up</i>
  </div>
</div>
<div *ngFor="let item of colors" [class.d-none]="!colorFilter.isVisible"
     [class.d-flex]="colorFilter.isVisible">
  <div class="filters-scope d-flex flex-column">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" name="{{item}}" class="custom-control-input" [id]="item" [checked]="check"
             (change)="chooseColor(item)"/>
      <label class="custom-control-label" [for]="item">{{item}}</label>
    </div>
  </div>
</div>
