.project-create-popup {
  .mat-dialog-content {
    max-height: 85vh;
  }

  .project-create-popup__action {
    margin-top: 5px;
    padding: 5px 0;
  }
  .input-full-width {
    width: 100%;
  }
  .project-create-popup__datepicker {
    position: relative;

    mat-datepicker-toggle {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .min-width-users-tab {
    min-height: 60vh;
  }
  button.mat-menu-item,
  button.mat-icon-button {
    outline: none;
  }
}
