<h3>Profile</h3>
<div class="row">
  <div class="col-12">
    <!--<h6 class="font-weight-500">Customer</h6>-->
    <!--<hr>-->
  </div>
  <div class="col-12" *ngIf="didLoaded">
    <dl class="row m-0">
      <dt class="col-sm-4 col-key">Picture</dt>
      <dd class="col-sm-8"><img [src]="item.avatar"></dd>
      <dt class="col-sm-4 col-key">Name</dt>
      <dd class="col-sm-8">{{item.firstName + ' ' + item.lastName}}</dd>
      <dt class="col-sm-4 col-key">Email</dt>
      <dd class="col-sm-8">{{item.email}}</dd>
      <dt class="col-sm-4 col-key">Role</dt>
      <dd class="col-sm-8">{{item.role}}</dd>
      <dt class="col-sm-4 col-key">Username</dt>
      <dd class="col-sm-8">{{item.username}}</dd>
      <dt class="col-sm-4 col-key">Date created</dt>
      <dd class="col-sm-8">{{item.dateCreated | date}}</dd>
    </dl>
  </div>
</div>


