<h3>Profile</h3>
<div class="row">
  <div class="col-12">
    <!--<h6 class="font-weight-500">Customer</h6>-->
    <!--<hr>-->
  </div>
  <div class="col-12">
    <dl class="row m-0">
      <dt class="col-sm-4 col-key">Name</dt>
      <dd class="col-sm-8">{{authService.identity.firstName}} {{authService.identity.lastName}}</dd>
      <dt class="col-sm-4 col-key">Email</dt>
      <dd class="col-sm-8">{{authService.identity.username}}</dd>
      <!--<dt class="col-sm-4 col-key">Phone</dt>-->
      <!--<dd class="col-sm-8">{{entity.userPhone}}</dd>-->

    </dl>
  </div>
</div>


