<ng-template #loader>
  <div class="d-flex w-100 justify-content-center align-items-center" style="height: 300px;">
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
</ng-template>

<ng-container *ngIf="user$ | async as user; else loader">
  <div class="row">
    <div class="col-12">
      <div class="row m-0">
        <div class="col-md-5 mt-2 text-dark">
          <mat-card>
            <div class="d-flex justify-content-between align-items-center my-2">
              <div>
                <img [src]="user.avatar"/>
              </div>
              <button
                mat-raised-button
                color="primary"
                class="py-0 d-flex align-items-center mb-2"
                (click)="edit = !edit"
              >
                <ng-container *ngIf="!edit">edit</ng-container>
                <ng-container *ngIf="edit">close</ng-container>
                <mat-icon style="font-size: 1.2em;" aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
              </button>
            </div>
            <mat-divider class="mb-2"></mat-divider>
            <div class="d-flex justify-content-between align-items-center pt-2">
              <span class="font-weight-bold">
                Name:
              </span>
              <span>{{ user.firstName + ' ' + user.lastName }}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center my-2">
              <span class="font-weight-bold">
                Email:
              </span>
              <span>{{ user.email }}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center my-2">
              <span class="font-weight-bold">
                Role:
              </span>
              <span>{{ user.role }}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center my-2">
              <div class="font-weight-bold">
                Username:
              </div>
              <span>{{ user.username }}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center my-2">
              <div class="font-weight-bold">
                Date created:
              </div>
              <span>{{ user.dateCreated | date }}</span>
            </div>
          </mat-card>
        </div>
        <div *ngIf="edit" class="col-md-7">
          <app-account-edit-page [userProperties]="user"></app-account-edit-page>
        </div>
      </div>
    </div>
  </div>
</ng-container>
