<div class="app-container">
  <app-header-component
    [productsCount]="cartService.itemsCount"
    [productsPrice]="cartService.totalPrice"
    [email]="infoService.appInfo.email"
    [phone]="infoService.appInfo.phone"
    [isAuthorized]="authService.isAuthorized"
    [loginPageUrl]="'/login'"
    [profilePageUrl]="'/profile'">
  </app-header-component>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
  <app-footer-component
    [phone]="infoService.appInfo.phone">
  </app-footer-component>
</div>
