<div class="project-page">
  <ng-template #loader>
    <div class="d-flex justify-content-center align-items-center h-350">
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
  </ng-template>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-2 px-3 bg-light">
        <li class="breadcrumb-item active">Projects</li>
      </ol>
    </nav>
  </div>
  <div class="container" *ngIf="!isLoading; else loader">
    <table mat-table *ngIf="projects.length" [dataSource]="projects" class="projects-table border rounded">
      <ng-container matColumnDef="photo" class="pr-0">
        <th mat-header-cell class="d-none" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="table-img-width text-center p-2" (click)="openProjectPopup(element)">
          <svg
            class="bd-placeholder-img rounded"
            width="35"
            height="35"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: 32x32"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#007bff" />
            <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
          </svg>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th class="d-none" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="pl-3 text-muted project-name-width" (click)="openProjectPopup(element)">
          <b>{{ element.name }}</b>
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th class="d-none" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="text-muted description-width" (click)="openProjectPopup(element)">
          {{ element.description | slice: 0:170 }} {{ element.description.length > 170 ? '...' : '' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th class="d-none" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="text-center table-img-width">
          <mat-menu #appMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="openProjectEditPopup(element)">Edit</button>
            <button mat-menu-item (click)="onProjectDelete(element.id)">Delete</button>
          </mat-menu>
          <button [disabled]="actionInProcess" mat-icon-button [matMenuTriggerFor]="appMenu" color="primary">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['photo', 'name', 'description', 'edit']" class="d-none"></tr>
      <tr mat-row style="cursor: pointer;" *matRowDef="let row; columns: ['photo', 'name', 'description', 'edit']"></tr>
    </table>
  </div>
  <div class="project-page__create-button">
    <button (click)="openProjectCreatePopup()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
