.project-page {
  .project-page__create-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }

  .project-page__project-item {
    padding: 0 10px;
    border-bottom: 1px solid #ccc;

    &:hover {
      text-decoration: none;
      background: #eee;
      border-bottom: 1px solid #eee;
    }
  }
}
.projects-table {
  width: 100%;
  margin: auto auto 20px;
  font-size: 1em;
  td,
  th {
    text-align: left;
    padding: 10px 5px;
  }
}
.table-img-width {
  width: 35px;
}
button.mat-menu-item,
button.mat-icon-button {
  outline: none;
}

.project-name-width {
  width: 15%;
}
