<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-2 px-3 bg-light ">
      <li class="breadcrumb-item active">Projects</li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="w-100 d-flex justify-content-end">
    <button class="btn btn-sm btn-primary" (click)="showProject=true">Create</button>
  </div>
  <app-project-list *ngIf="didLoaded" [projects]="projects" (itemClick)="showProj($event)"></app-project-list>
</div>
<app-project-add *ngIf="showProject" (formDone)="showProject=false"
                 (formDoneValue)="getFormResponse($event)"></app-project-add>




