<div class="container ">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-2 px-3 bg-white ">
      <li class="breadcrumb-item active">Projects</li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class=" p-3 bg-white rounded shadow-sm">
    <div class="w-100 d-flex justify-content-end">
      <div class="btn btn-sm btn-primary">
        Create +
      </div>
    </div>
    <app-project-list *ngIf="didLoaded" [projects]="projects"></app-project-list>
    <small class="d-block text-right mt-3">
      <a href="#">All projects</a>
    </small>
  </div>
</div>




