<app-header-component></app-header-component>

<!-- Hero -->
<section class="container">
  <div class="row justify-content-lg-between align-items-lg-center py-5">
    <div class="col-lg-6 col-xl-5 mb-4 text-center text-lg-left">
      <h1 class="display-4 mb-4">
        Create a Shop for your business using OnShop1
      </h1>
      <p class="lead mb-4">
        OnShop is a clean, modern, user friendly, responsive WebApp, built for especially for E-commerce.
        <!-- and highly customizable -->
      </p>
      <!--      <a class="btn btn-pill btn-primary btn-block d-md-inline-block w-auto mx-1 ml-sm-0 my-3" href="#" role="button">-->
      <!--        <i class="fab fa-google-play fa-lg mr-1" aria-hidden="true"></i>-->
      <!--        <span>Get Started</span>-->
      <!--      </a>-->
    </div>
    <div class="col-lg-6 col-xl-7">
      <img src="/assets/img/home-page/holding-phone.svg" class="d-none d-lg-block img-fluid" alt="">
    </div>
  </div>
</section>

<!-- Technology -->
<div class="bg-skew-light anchor__technology">
  <section class="container">
    <div class="row align-items-center py-5">
      <div class="col-lg-4">
        <div class="iphone-x mb-5 mx-auto">
          <!--<img class="screen" src="/assets/img/home-page/onshop-screen.png">-->
          <div class="screen" style="background-image: url(/assets/img/home-page/onshop-screen.png)"></div>
          <!--<div class="screen" style="background-image: url(https://boost.11bits.es/img/screenshot.png)"></div>-->
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-sm-6 mb-4">
            <div class="media">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-desktop" aria-hidden="true"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Accessible</h3>
                <p>Built with accessibility in mind and following best practices.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-mobile-alt" aria-hidden="true"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Mobile First</h3>
                <p>Mobile-first flexbox grid to build layouts of all shapes and sizes.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media">
              <span class="icon icon-primary mr-3">
                <!--<img src="https://j2inet.files.wordpress.com/2018/12/siderealLarge.png?w=1154">-->
                <i class="icon-inner fas fa-mobile-alt" aria-hidden="true"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Progressive Web App</h3>
                <p>
                  This new level of quality allows Progressive Web Apps to earn a place on the user's home screen.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-code"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Valid Code</h3>
                <p>W3C valid code to ensure the site works properly on all major browsers.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-tachometer-alt"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Single-Page Application</h3>
                <p>An app that works inside a browser and does not require page reloading during use.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fab fa-angular"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Angular</h3>
                <p>
                  Achieve the maximum speed possible on the Web Platform today, and take it further,
                  via Web Workers and server-side rendering.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Shop Example -->
<div class="container mt-5 anchor__examples">
  <h2 class="text-center">Shop Examples</h2>
  <div class="row py-4">
    <div class="col-lg-6">
      <a target="_blank" href="http://blue-shop.xolutionz.com" class="text-decoration-none">
        <img src="/assets/img/home-page/onshop__blue.PNG" class="img-fluid img-thumbnail mb-4" alt="Demo page">
        <h2 class="h5 text-center text-dark mb-5">Blue Shop</h2>
      </a>
    </div>
    <div class="col-lg-6">
      <a target="_blank" href="http://green-shop.xolutionz.com" class="text-decoration-none">
        <img src="/assets/img/home-page/onshop__green.jpg" class="img-fluid img-thumbnail mb-4" alt="Demo page">
        <h2 class="h5 text-center text-dark mb-5">Green Shop</h2>
      </a>
    </div>
  </div>
</div>


<!-- Products Count -->
<div class="bg-skew-light anchor__about-us">
  <div class="container pt-3">
    <h2 class="lead-2 text-center my-5">We are a small team with passion for our work</h2>
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <!--        <p class="text-center">-->
        <!--          In 2020, it is not enough to just sell something. You should also be innovative as well.-->
        <!--          Customers are often looking for something that they have not seen before. Today, it is all about invention and innovation.-->
        <!--        </p>-->
        <blockquote class="blockquote text-center mb-5">
          In 2020, it is not enough to just sell something. You should also be innovative as well.
          Customers are often looking for something that they have not seen before. Today, it is all about invention and innovation.
        </blockquote>
        <div class="row text-center text-md-left">
          <div class="col-sm-6 col-md-3 mb-3 text-center">
            <span class="h3 d-block mb-2">1+</span>
            <p class="small text-secondary text-uppercase">Clients</p>
          </div>
          <div class="col-sm-6 col-md-3 mb-3 text-center">
            <span class="h3 d-block mb-2">2+</span>
            <p class="small text-secondary text-uppercase">Shops</p>
          </div>
          <div class="col-sm-6 col-md-3 mb-3 text-center">
            <p class="h3 d-block mb-2">1.000+</p>
            <p class="small text-secondary text-uppercase">Product Items</p>
          </div>
          <div class="col-sm-6 col-md-3 mb-3 text-center">
            <span class="h3 d-block mb-2">10+</span>
            <p class="small text-secondary text-uppercase">Purchases</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Team -->
<div class="bg-skew-light">
  <div class="container pt-3">
    <hr class="sep border-primary mb-5" role="presentation">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h3 class="text-center mb-4">Meet the team</h3>
        <div class="row">

          <div class="col-sm-6 col-xl-4">
            <div class="card card-hover my-3">
              <div class="card-img-top image-crop">
                <img [src]="'/assets/img/placeholders/avatar__female.jpg'" alt="">
              </div>
              <div class="card-body text-center">
                <h4 class="card-title h5">Emma Jones</h4>
                <p class="text-secondary">UI/UX designer</p>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i>
                      <span class="sr-only">Linkedin</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i class="icon-inner fab fa-facebook-f" aria-hidden="true"></i>
                      <span class="sr-only">Facebook</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xl-4">
            <div class="card card-hover my-3">
              <div class="card-img-top image-crop">
                <img [src]="'/assets/img/placeholders/avatar__female.jpg'" alt="">
              </div>
              <div class="card-body text-center">
                <h4 class="card-title h5">Tania Gai</h4>
                <p class="text-secondary">CEO</p>
                <!--                <p>-->
                <!--                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.-->
                <!--                </p>-->
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i>
                      <span class="sr-only">Linkedin</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i class="icon-inner fab fa-facebook-f" aria-hidden="true"></i>
                      <span class="sr-only">Facebook</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xl-4">
            <div class="card card-hover my-3">
              <div class="image-crop">
                <img [src]="'/assets/img/placeholders/avatar__male.jpeg'" alt="">
              </div>
              <div class="card-body text-center">
                <h4 class="card-title h5">Yurii Hiienko</h4>
                <p class="text-secondary">Software Engineer</p>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i>
                      <span class="sr-only">Linkedin</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" target="_blank" href="https://github.com/Yurashk">
                      <i class="icon-inner fab fa-github" aria-hidden="true"></i>
                      <span class="sr-only">GitHub</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr class="sep border-primary my-5" role="presentation">
  </div>
</div>


<!-- Footer -->
<app-footer-component></app-footer-component>
