<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-2 px-0 bg-white">
      <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Shop</li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 d-none d-md-block">
      <div class="d-flex bg-light justify-content-center align-items-center" style="height: 80%">
        <h3>Filters</h3>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <!--<header class="page-header">-->
        <!--<h5 class="page-title">Smart Phones &amp; Tablets</h5>-->
        <!--<p class="woocommerce-result-count">-->
          <!--Showing all 20 results</p>-->
      <!--</header>-->
      <div class="d-flex bg-light justify-content-center align-items-center mb-3" style="height: 900px">
        <h3>Product Items</h3>
      </div>
    </div>
  </div>
</div>
