<app-header-component></app-header-component>

<!-- Hero -->
<div class="w-100 text-dark d-flex align-items-center">
  <section class="container">
    <div class="row justify-content-lg-between align-items-lg-center py-5">
      <div class="col-lg-6 col-xl-5 mb-4 text-center text-lg-left">
        <h1 class="display-4 mb-4 text-dark">
          Create a Shop for your business using OnShop
        </h1>
        <p class="lead mb-4">
          OnShop is a clean, modern, user friendly, responsive WebApp, built
          especially for E-commerce.
          <!-- and highly customizable -->
        </p>
      </div>
      <div class="col-lg-6 col-xl-7 d-flex justify-content-end">
        <img
          src="/assets/img/home-page/holding-phone.svg"
          class="d-none w-100 h-100 d-lg-block img-fluid"
          alt=""
        />
      </div>
    </div>
  </section>
</div>

<!-- Technology -->
<div class="bg-skew-light anchor__technology">
  <section class="container">
    <div class="row align-items-center py-5">
      <div class="col-lg-4">
        <div class="iphone-x mb-5 mx-auto">
          <div
            class="screen"
            style="
              background-image: url(/assets/img/home-page/first-screen.PNG);
            "
          ></div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row py-2">
          <div class="col-sm-6 mb-4">
            <div class="media">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-desktop" aria-hidden="true"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Accessible</h3>
                <p>
                  Built with accessibility in mind and following best practices.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-mobile-alt" aria-hidden="true"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Mobile First</h3>
                <p>Mobile Friendly: Compatible with all mobile devices.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-mobile-alt" aria-hidden="true"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Progressive Web App</h3>
                <p>
                  This new level of quality allows businesses to easily rent or
                  purchase items out of their warehouse.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-code"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Valid Code</h3>
                <p>to be changed too Secure</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-tachometer-alt"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Asset Management</h3>
                <p>
                  An app that partners with your business to seamlessly track
                  and distribute your products
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-chart-line"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Custom tailored</h3>
                <p>
                  Custom tailored to business and product distribution needs.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Shop Example -->
<div class="w-100 bg-skew-light text-light d-flex align-items-center">
  <div class="container mt-5 anchor__examples">
    <h2 class="text-center text-dark">OnShop</h2>
    <div class="row justify-content-center py-4">
      <div class="col-lg-10 d-flex justify-content-center">
        <a
          target="_blank"
          href="https://blue-shop.xolutionz.com"
          class="text-decoration-none"
        >
          <img
            src="/assets/img/home-page/blue-shop-preview.PNG"
            class="img-fluid img-thumbnail mb-4"
            alt="Demo page"
          />
          <h2 class="h5 text-center text-dark mb-5">Blue Shop</h2>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Products Count -->
<div class="anchor__about-us">
  <div class="container pt-3">
    <h2 class="lead-2 text-center my-5">
      We are a small team with passion for our work
    </h2>
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <blockquote class="blockquote text-center mb-5">
          In 2020, it is not enough to just sell something. You should also be
          innovative as well. Customers are often looking for something that
          they have not seen before. Today, it is all about invention and
          innovation.
        </blockquote>
      </div>
    </div>
  </div>
</div>

<!-- Team -->
<div class="w-100 bg-skew-light team-section text-light d-flex align-items-center">
  <div class="container pt-3">
    <hr class="sep border-primary mb-5" role="presentation" />
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h2 class="text-center text-dark mb-4">Meet the team</h2>
        <div class="row">
          <div class="col-sm-6 col-xl-4">
            <div class="card card-hover my-3">
              <div class="card-img-top image-crop">
                <img
                  [src]="'/assets/img/placeholders/avatar__male.jpeg'"
                  alt="avatar"
                />
              </div>
              <div class="card-body text-center">
                <h4 class="card-title h5">Greg Gai</h4>
                <p class="text-secondary">CTO & Co-Founder</p>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i
                        class="icon-inner fab fa-linkedin-in"
                        aria-hidden="true"
                      ></i>
                      <span class="sr-only">Linkedin</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i
                        class="icon-inner fab fa-facebook-f"
                        aria-hidden="true"
                      ></i>
                      <span class="sr-only">Facebook</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4">
            <div class="card card-hover my-3">
              <div class="card-img-top image-crop">
                <img
                  [src]="'/assets/img/placeholders/avatar__female.jpg'"
                  alt="avatar"
                />
              </div>
              <div class="card-body text-center">
                <h4 class="card-title h5">Tania Gai</h4>
                <p class="text-secondary">CEO & Co-Founder</p>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i
                        class="icon-inner fab fa-linkedin-in"
                        aria-hidden="true"
                      ></i>
                      <span class="sr-only">Linkedin</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i
                        class="icon-inner fab fa-facebook-f"
                        aria-hidden="true"
                      ></i>
                      <span class="sr-only">Facebook</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xl-4">
            <div class="card card-hover my-3">
              <div class="image-crop">
                <img
                  [src]="'/assets/img/placeholders/avatar__male.jpeg'"
                  alt="avatar"
                />
              </div>
              <div class="card-body text-center">
                <h4 class="card-title h5">Yurii Hiienko</h4>
                <p class="text-secondary">Software Engineer</p>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i
                        class="icon-inner fab fa-linkedin-in"
                        aria-hidden="true"
                      ></i>
                      <span class="sr-only">Linkedin</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="icon icon-sm icon-dark"
                      target="_blank"
                      href="https://github.com/Yurashk"
                    >
                      <i
                        class="icon-inner fab fa-github"
                        aria-hidden="true"
                      ></i>
                      <span class="sr-only">GitHub</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="sep border-primary my-5" role="presentation" />
  </div>
  <!--  </div>-->
</div>

<!-- Footer -->
<app-footer-component></app-footer-component>
