<app-header-component></app-header-component>

<section
  class="section section--main w-100 text-dark d-flex align-items-center"
>
  <div class="container">
    <div class="row justify-content-lg-between align-items-lg-center">
      <div class="col-lg-6 col-xl-5 text-center text-lg-left">
        <h1 class="display-4 mb-4 text-dark">
          Create a Shop for your business using OnShop
        </h1>
        <p class="lead mb-4">
          OnShop is a clean, modern, user friendly, responsive WebApp, built
          especially for E-commerce.
          <!-- and highly customizable -->
        </p>
      </div>
      <div class="col-lg-6 col-xl-7 d-flex justify-content-center">
        <img
          src="/assets/img/home-page/first-screen.PNG"
          class="d-none d-lg-block main-image"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<!-- Technology -->
<section class="section section--light technology" id="anchor-technology">
  <h2 class="section__title">Technology</h2>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="row py-2">
          <div class="col-sm-6 mb-4">
            <div class="media align-items-center">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-desktop" aria-hidden="true"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Accessible</h3>
                <p>
                  Built with accessibility in mind and following best practices.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media align-items-center">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-mobile-alt" aria-hidden="true"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Progressive Web App</h3>
                <div>
                  This new level of quality allows businesses to easily rent or
                  purchase items out of their warehouse.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media align-items-center">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-mobile-alt" aria-hidden="true"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Mobile First</h3>
                <div>Mobile Friendly: Compatible with all mobile devices.</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media align-items-center">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-tachometer-alt"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Asset Management</h3>
                <div>
                  An app that partners with your business to seamlessly track
                  and distribute your products
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media align-items-center">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-chart-line"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Custom tailored</h3>
                <div>
                  Custom tailored to business and product distribution needs.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="media align-items-center">
              <span class="icon icon-primary mr-3">
                <i class="icon-inner fas fa-code"></i>
              </span>
              <div class="media-body">
                <h3 class="h5 mb-2">Valid Code</h3>
                <div>to be changed too Secure</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Shop Example -->
<section class="section container" id="anchor-examples">
  <h2 class="section__title">Shop Example</h2>
  <a
    target="_blank"
    href="https://blue-shop.xolutionz.com"
    class="text-decoration-none shop-example"
  >
    <img
      src="/assets/img/home-page/blue-shop-preview.PNG"
      class="img-fluid img-thumbnail"
      alt="Demo page"
    />
  </a>
</section>

<!-- Products Count -->
<section class="section section--light" id="anchor-about-us">
  <h2 class="section__title">
    We are a small team with passion for our work
  </h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <blockquote class="blockquote text-center">
          In 2020, it is not enough to just sell something. You should also be
          innovative as well. Customers are often looking for something that
          they have not seen before. Today, it is all about invention and
          innovation.
        </blockquote>
      </div>
    </div>
  </div>

  <hr class="sep border-primary mt-5" role="presentation" />
  <h2 class="section__title">Meet the team</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="row justify-content-center">
          <div class="col-sm-6 col-xl-4">
            <div class="card my-3">
              <div class="card-img-top image-crop">
                <img
                  [src]="'/assets/img/placeholders/avatar__male.jpeg'"
                  alt="avatar"
                />
              </div>
              <div class="card-body text-center">
                <h4 class="card-title h5">Greg Gai</h4>
                <p class="text-secondary">CTO & Co-Founder</p>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i
                        class="icon-inner fab fa-linkedin-in"
                        aria-hidden="true"
                      ></i>
                      <span class="sr-only">Linkedin</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i
                        class="icon-inner fab fa-facebook-f"
                        aria-hidden="true"
                      ></i>
                      <span class="sr-only">Facebook</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4">
            <div class="card card-hover my-3">
              <div class="card-img-top image-crop">
                <img
                  [src]="'/assets/img/placeholders/avatar__female.jpg'"
                  alt="avatar"
                />
              </div>
              <div class="card-body text-center">
                <h4 class="card-title h5">Tania Gai</h4>
                <p class="text-secondary">CEO & Co-Founder</p>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i
                        class="icon-inner fab fa-linkedin-in"
                        aria-hidden="true"
                      ></i>
                      <span class="sr-only">Linkedin</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i
                        class="icon-inner fab fa-facebook-f"
                        aria-hidden="true"
                      ></i>
                      <span class="sr-only">Facebook</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4">
            <div class="card card-hover my-3">
              <div class="image-crop">
                <img
                  [src]="'/assets/img/placeholders/avatar__male.jpeg'"
                  alt="avatar"
                />
              </div>
              <div class="card-body text-center">
                <h4 class="card-title h5">Yurii Hiienko</h4>
                <p class="text-secondary">Software Engineer</p>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="icon icon-sm icon-dark" href="#">
                      <i
                        class="icon-inner fab fa-linkedin-in"
                        aria-hidden="true"
                      ></i>
                      <span class="sr-only">Linkedin</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="icon icon-sm icon-dark"
                      target="_blank"
                      href="https://github.com/Yurashk"
                    >
                      <i
                        class="icon-inner fab fa-github"
                        aria-hidden="true"
                      ></i>
                      <span class="sr-only">GitHub</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer-component></app-footer-component>
