/**
* ------------------------------------------------------------------------
* Global Styles
* ------------------------------------------------------------------------
*/

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  // color: inherit;
  color: #333e48;
}

.bg-skew-light {
  background-color: #f8f9fa;
}

.font-weight-500 {
  font-weight: 500;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

/**
* ------------------------------------------------------------------------
* Social Icons
* ------------------------------------------------------------------------
*/


.icon {
  border-radius: 50%;
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  transition: background-color .2s ease-in-out;
  width: 3rem;
  height: 3rem;
}

.icon-primary {
  background-color: rgba(0,106,255,.1);
  color: #006aff!important;
}

.icon-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.icon-dark {
  background-color: rgba(52, 58, 64, .1);
  color: #343a40 !important;

  &:hover {
    background-color: #343a40;
    color: #fff !important;
  }
}

.icon-sm {
  font-size: .875rem !important;
  width: 36px !important;
  height: 36px !important;
}
