<div *ngIf="!didLoaded" class="d-flex justify-content-center align-items-center" style="height: 300px;" >
  <div class="spinner-grow text-primary" role="status"></div>
</div>
<div *ngIf="projects && didLoaded" class="d-flex flex-column bg-light justify-content-center align-items-center" style="height: 300px">
  <h3>Projects Goes Here</h3>
  <ul>
    <li *ngFor="let item of projects">
      <div>
        {{item.name}}
      </div>
      <div>
        {{item.description}}
      </div>
    </li>
  </ul>
</div>
