<div class="container">
  <div *ngIf="!didLoaded && !wrongUser" class="row justify-content-center align-items-center" style="height: 300px">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only text-primary">Loading...</span>
    </div>
  </div>
  <div *ngIf="wrongUser" class="row justify-content-center">
    <div class="col-md-5 d-flex flex-column align-items-center  justify-content-center mt-3 p-5 shadow-sm">
      <h4 class="text-center">Make sure that you are authorized and you have this order</h4>
      <div class="d-flex mt-3">
        <button class="btn btn-primary mr-2" routerLink="/profile">
          My Profile
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="didLoaded && !wrongUser" class="row flex-column mt-3 justify-content-center align-items-center mb-3">
    <h4 class="text-center">User info</h4>
    <table class="col-md-6 m-md-0 m-1 table table-sm table-bordered user-info-table text-dark">
      <tbody>
      <tr>
        <td>Name</td>
        <td>{{orderInfo.shipping.first_name}} {{orderInfo.shipping.last_name}}</td>
      </tr>
      <tr>
        <td>City</td>
        <td>{{orderInfo.shipping.city}}({{orderInfo.shipping.state}})</td>
      </tr>
      <tr>
        <td>Post Code</td>
        <td>{{orderInfo.shipping.postcode}}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td class="p-0">
          <div class="input-group border-0 ">
            <input class="form-control border-0 form-control-sm px-1" style="font-weight:500"
                   [(ngModel)]="orderInfo.shipping.address_1">
            <div class="input-group-prepend">
              <i
                class="material-icons">
                touch_app
              </i>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Order</td>
        <td>{{orderInfo.orderKey}}</td>
      </tr>
      <tr>
        <td>Project</td>
        <td>{{orderInfo.projectNumber}}</td>
      </tr>
      </tbody>
    </table>
    <h4 class="text-dark my-2">
      Return date
    </h4>
    <table class="col-md-6 m-md-0 m-1 table table-sm table-bordered user-info-table text-dark">
      <tbody>
      <tr>
        <td>
          Return date
        </td>
        <td class="p-0 d-flex justify-content-between w-100 align-items-center px-2">
          <mat-form-field>
            <input matInput [min]="minDate" [matDatepicker]="picker2"
                   (dateChange)="EndDateChange($event.value)"
                   [formControl]="serializedDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <div *ngIf="note">
            <i class="material-icons text-success">
              beenhere
            </i>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <h4 class="text-dark my-2">
      Products
    </h4>
    <table class="col-md-6 m-md-0 m-1 table table-sm table-bordered user-info-table text-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Count</th>
        <th scope="col">Rent</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of orderInfo.productItems;let i=index">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.meta_data.length ? (item.meta_data[0].value + '/d') : 'No'}}</td>
        <td>{{item.price | currency}}</td>
        <td>
          <div class="form-check d-flex justify-content-center">
            <input class="form-check-input" type="checkbox" [checked]="true" id="defaultCheck1">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="col-3 my-3 text-center">
      <button [disabled]="!orderInfo.shipping.address_1 || !note" class="btn btn-primary" (click)="createNote()">
        Submit return
      </button>
    </div>
  </div>
</div>
