<div class="container">
  <h2 class="text-center">Purchase returns</h2>
  <div *ngIf="didLoaded" class="row flex-column mt-3 justify-content-center align-items-center">
    <table class="col-md-6 m-md-0 m-1 table table-sm table-bordered user-info-table text-dark">
      <tbody>
      <tr>
        <td>Name</td>
        <td>{{orderInfo.shipping.first_name}} {{orderInfo.shipping.last_name}}</td>
      </tr>
      <tr>
        <td>City</td>
        <td>{{orderInfo.shipping.city}}({{orderInfo.shipping.state}})</td>
      </tr>
      <tr>
        <td>Post Code</td>
        <td>{{orderInfo.shipping.postcode}}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td class="p-0">
          <div class="input-group border-0 ">
            <input class="form-control border-0 form-control-sm px-1" style="font-weight:500"
                   [(ngModel)]="orderInfo.shipping.address_1">
            <div class="input-group-prepend">
              <i
                class="material-icons">
                touch_app
              </i>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Order</td>
        <td>{{orderInfo.order_key}}</td>
      </tr>
      <tr>
        <td>Project</td>
        <td>{{orderInfo.meta_data[1].value}}</td>
      </tr>
      <tr>
        <td>
          Return date
        </td>
        <td class="p-0">
          <mat-form-field>
            <input matInput [min]="minDate" [matDatepicker]="picker2"
                   (dateChange)="EndDateChange($event.value)"
                   [formControl]="serializedDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      </tbody>
    </table>
    <h3 class="text-dark my-2">
      Products
    </h3>
    <table class="col-md-6 m-md-0 m-1 table table-sm table-bordered user-info-table text-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Count</th>
        <th scope="col">Rent</th>
        <th scope="col">Price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of orderInfo.line_items;let i=index">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.meta_data.length ? (item.meta_data[0].value + '/d') : 'No'}}</td>
        <td>{{item.price | currency}}</td>
      </tr>
      </tbody>
    </table>
    <div class="col-3 my-3 text-center">
      <button [disabled]="!orderInfo.shipping.address_1 || !note" class="btn btn-success" (click)="createNote()">
        Correct
      </button>
    </div>
  </div>
</div>
