<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-2 px-0 bg-white">
      <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
    </ol>
  </nav>
</div>
<div id="map" class="w-100"></div>
<!--<div class="container my-4">-->
<!--  <div class="row">-->
<!--    <div class="col-12 col-md-8">-->
<!--      <h2 class="content-title">Leave us a Message</h2>-->
<!--      <p>-->
<!--        Maecenas dolor elit, semper a sem sed, pulvinar molestie lacus. Aliquam dignissim, elit non mattis ultrices,-->
<!--        neque odio ultricies tellus, eu porttitor nisl ipsum eu massa.-->
<!--      </p>-->
<!--      <app-contact-form (formChanged)="getFormProperties($event)"></app-contact-form>-->
<!--    </div>-->
<!--    <div class="col-12 col-md-4 mt-5 mt-md-0">-->
<!--      <h2 class="content-title">Our Store</h2>-->
<!--      <p>-->
<!--        {{infoService.appInfo.address}}-->
<!--      </p>-->
<!--      <p class="font-weight-bold">Hours of Operation</p>-->
<!--      <ul class="operation-hours">-->
<!--        <li class="clearfix"><span class="day">Monday:</span><span class="pull-right flip hours">12-6 PM</span></li>-->
<!--        <li class="clearfix"><span class="day">Tuesday:</span><span class="pull-right flip hours">12-6 PM</span></li>-->
<!--        <li class="clearfix"><span class="day">Wednesday:</span><span class="pull-right flip hours">12-6 PM</span></li>-->
<!--        <li class="clearfix"><span class="day">Thursday:</span><span class="pull-right flip hours">12-6 PM</span></li>-->
<!--        <li class="clearfix"><span class="day">Friday:</span><span class="pull-right flip hours">12-6 PM</span></li>-->
<!--        <li class="clearfix"><span class="day">Saturday:</span><span class="pull-right flip hours">12-6 PM</span></li>-->
<!--        <li class="clearfix"><span class="day">Sunday</span><span class="pull-right flip hours">Closed</span></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
