<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-2 px-0 bg-white">
      <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="profile-page__menu col-3">
      <a [routerLink]="'/profile'" class="profile-page__menu-item">
        <i class="icon-inner fas fa-mobile-alt mr-2" aria-hidden="true"></i
        ><span class="profile-page__menu-item-text">Account</span>
      </a>
      <a [routerLink]="'/profile/orders'" class="profile-page__menu-item">
        <i class="fas fa-cart-arrow-down mr-2"></i><span class="profile-page__menu-item-text">Orders</span>
      </a>
      <a [routerLink]="'/profile/projects'" class="profile-page__menu-item">
        <i class="fas fa-project-diagram mr-2"></i><span class="profile-page__menu-item-text">Projects</span>
      </a>
      <a href="javascript:void(0)" class="profile-page__menu-item" (click)="logout()">
        <i class="fas fa-sign-out-alt mr-2"></i><span class="profile-page__menu-item-text">Logout</span>
      </a>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
