.profile-page__menu {
  .profile-page__menu-item {
    display: block;
    border-bottom: 1px solid #eceeef;
    margin-bottom: 15px;
    padding-bottom: 5px;

    i {
      width: 20px;
    }

    &.active {
      color: #333e48;
    }
  }
}
