.list-item {
  display: flex;
  align-items: center;
  padding: 0.6rem 0rem;
  text-decoration: none;
  border-bottom: 1px solid #eceeef;

  i {
    width: 20px;
    text-align: center;
  }

  &.active {
    color: #333e48;
  }

}

@media screen and (max-width: 600px){
  .description-text{
    display: none;
  }
  .list-item{
    border-bottom:0;
    margin-bottom: 5px;
  }
}
