<div class="profile-page">
  <div class="container">
    <div class="row">
      <mat-toolbar class="profile-page__menu" fxLayoutAlign="space-between center">
        <div>
          <a routerLinkActive="active" [routerLink]="'/profile'" mat-button>Account</a>
          <a routerLinkActive="active" [routerLink]="'/profile/orders'" mat-button>Orders</a>
          <a routerLinkActive="active" [routerLink]="'/profile/projects'" mat-button>Projects</a>
        </div>
        <mat-icon class="profile-page__logout-button" (click)="logout()">exit_to_app</mat-icon>
      </mat-toolbar>

      <div class="profile-page__content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
