.category-item {
  height: calc(100%);
  border: none;

  .category-item__image-container {
    display: flex;
    height: 200px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;

    img {
      max-height: 190px;
    }
  }

  .category-item__title {
    padding-top: 10px;
  }

  .category-item__total {
    display: flex;
  }
}
