<div class="container home">
  <div class="row">
    <div class="col-12 home__title">
      <h2>{{ infoService.appInfo.promo1 }}</h2>
    </div>
  </div>

  <div class="row home__items">
    <div class="col-12 col-md-6">
      <div class="home__items-item">
        <div class="home__items-item-title">
          Orders Arriving
        </div>
        <div class="home__items-item-image">
          <img [src]="'/assets/img/home/order.svg'" />
        </div>
        <div class="home__items-item-description">Simple description about this block</div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="home__items-item">
        <div class="home__items-item-title">
          Items
        </div>
        <div class="home__items-item-image">
          <img [src]="'/assets/img/home/order.svg'" />
        </div>
        <div class="home__items-item-description">Simple description about this block</div>
      </div>
    </div>
  </div>

  <div class="row home__items">
    <div class="col-12 col-md-6">
      <div class="home__items-item">
        <div class="home__items-item-title">
          Return these items
        </div>
        <div class="home__items-item-image">
          <img [src]="'/assets/img/home/order.svg'" />
        </div>
        <div class="home__items-item-description">Simple description about this block</div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="home__items-item">
        <div class="home__items-item-title">
          Heavy equipment
        </div>
        <div class="home__items-item-image">
          <img [src]="'/assets/img/home/order.svg'" />
        </div>
        <div class="home__items-item-description">Simple description about this block</div>
      </div>
    </div>
  </div>

  <div class="row home__items">
    <div class="col-12">
      <div class="home__items-item">
        <div class="home__items-item-title">
          {{ infoService.appInfo.promo2 }}
        </div>
      </div>
    </div>
  </div>
</div>
