<div class="container home">
  <div class="row">
    <div class="col-12 home__title">
      <h2>Closed on Monday!</h2>
    </div>
  </div>

  <div class="row home__items">
    <div class="col-12 col-md-6">
      <div class="home__items-item">
        <div class="home__items-item-title">
          Orders Arriving
        </div>
        <div class="home__items-item__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi impedit nostrum porro quas quod reiciendis
          soluta tempore! Accusamus autem debitis, hic illum nisi quisquam unde? Accusamus commodi cum perspiciatis
          quis.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="home__items-item">
        <div class="home__items-item-title">Items Onsite</div>
        <div class="home__items-item__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi consequuntur cupiditate dolor doloribus
          ducimus expedita, harum ipsam iste libero minus modi neque non odio, perferendis ratione repellendus similique
          vel.
        </div>
      </div>
    </div>
  </div>

  <div class="row home__items">
    <div class="col-12 col-md-6">
      <div class="home__items-item">
        <div class="home__items-item-title">
          Return these items
        </div>
        <div class="home__items-item__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur delectus eius possimus. Illum
          maiores quaerat unde. Animi, delectus excepturi hic, incidunt magni maxime, molestias natus nostrum placeat
          sit voluptate.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="home__items-item">
        <div class="home__items-item-title">
          Pending items
        </div>
        <div class="home__items-item__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aliquam aperiam earum eum facilis libero
          minus molestias mollitia quibusdam ratione recusandae rem repudiandae suscipit velit veritatis vero, voluptas
          voluptatibus.
        </div>
      </div>
    </div>
  </div>

  <div class="row home__items">
    <div class="col-12 home__items-item">
      <div class="home__items-item-title">
        New Handtools NOW Available
      </div>
    </div>
  </div>
</div>
