.home {
  padding-bottom: 20px;
  padding-top: 20px;

  .home__title {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  .home__items {
    .home__items-item {
      display: block;
      border: 1px solid #2c98f0;
      border-radius: 5px;
      margin-bottom: 20px;
      overflow: hidden;

      &:hover {
        cursor: pointer;
        background: #f3f3f3;
        border-color: #237cc4;

        .home__items-item-description,
        .home__items-item-title {
          background: #237cc4;
        }
      }

      .home__items-item-title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px 20px;
        background: #2c98f0;
        color: #fff;
      }
      .home__items-item-image {
        width: 40%;
        margin: auto;
        padding: 15px;

        img {
          width: 100%;
        }
      }

      .home__items-item-description {
        background: #2c98f0;
        color: #fff;
        padding: 10px 20px;
        text-align: center;
      }
    }
  }
}
