.hero {
  height: 438px;
  background-image: url(/assets/img/home/background.jpg);
  background-size: cover;
  background-position: center center;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/**
* ------------------------------------------------------------------------
* Categories
* ------------------------------------------------------------------------
*/

.categories {
  background-color: aliceblue;
}

.category-item {
  display: flex;
  flex-direction: column;
  text-align: center;

  .img-wrap {
    height: 150px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  img {
    height: 120px;
    width: auto !important;
  }
}

/**
* ------------------------------------------------------------------------
* Features
* ------------------------------------------------------------------------
*/

.features {
  height: 300px;
  background-color: bisque;
}


