.navbar {
  font-size: .875rem;
}

.navbar-toggler {
  padding: .25rem .5rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .375rem;
}

.navbar-brand img {
  height: 30px;
  width: auto;
}

.navbar-toggler {
  color: #343a40;
  border-color: transparent;
}

.navbar {
  position: relative;
  padding: 0;
}

.navbar-nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-nav .nav-link {
  color: #343a40;
  font-weight: 400;
  font-size: 1.1rem;
}

.navbar-nav .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #006aff;
}
