.products-search {
  width: 100%;

  .products-search__search {
    position: relative;

    .products-search__search-input {
      position: relative;
      top: 2px;
    }

    .products-search__search-button {
      position: absolute;
      right: -12px;
      top: -7px;

      &:hover {
        mat-icon {
          color: #2c98f0;
        }
      }
    }

    .products-search__search-loader {
      position: absolute;
      right: -3px;
      top: 0;
    }
  }

  .products-search__form-field {
    width: 100%;
  }

  .alt-photo {
    width: 30px;
    height: 30px;
    background-color: rgba(134, 151, 145, 0.61);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.5em 0 !important;
    border: 0;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #eee;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding: 0;
  }
}
