.alt-photo {
  width: 30px;
  height: 30px;
  background-color: rgba(134, 151, 145, 0.61);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  width: 100%;
}

.form-full-width {
  width: 100%;
}

.mat-form-field-flex {
  background: white;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.5em 0 !important;
  border: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: silver;
}

::ng-deep .mat-form-field-wrapper {
  padding:0;
}
