<form *ngIf="!profileFormCreated" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">First name*</label>
      <input formControlName="firstName" type="text" class="form-control" id="inputName" placeholder="" />
    </div>
    <div class="form-group col-md-6">
      <label for="inputLastName">Last name*</label>
      <input formControlName="lastName" type="text" class="form-control" id="inputLastName" placeholder="" />
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input formControlName="email" type="text" class="form-control" id="inputEmail" placeholder="" />
  </div>
  <div class="form-group">
    <label for="inputAddress">Subject</label>
    <input formControlName="subject" type="text" class="form-control" id="inputAddress" placeholder="" />
  </div>
  <div class="form-group">
    <label for="inputAddress">Your Message</label>
    <textarea formControlName="message" name="comment" class="form-control shadow-sm" id="input5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Send Message</button>
</form>
<div *ngIf="profileFormCreated" class="success-box">
  <div class="success-box-in bg-primary text-center">
    <h5 class="text-light">
      Form was submitted message!
    </h5>
    <div class="text-warning cursor-pointer" (click)="profileFormCreated = false">
      leave another one
    </div>
  </div>
</div>
