/**
* ------------------------------------------------------------------------
* Hero
* ------------------------------------------------------------------------
*/

.iphone-x {
  background-color: #f8f9fa;
  border-radius: 36px;
  box-shadow: inset 0 0 15px rgba(0,0,0,.15), 0 20px 36px rgba(0,0,0,.15);
  width: 280px;
  height: 540px;
  position: relative;

  .iphone-x .screen {
    background: #212529;
    background-size: cover;
    border-radius: 25px;
    box-shadow: inset 0 0 10px rgba(0,0,0,.15);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    top: 15px;
    left: 15px;

    &:after {
      content: "";
      background-color: #f8f9fa;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 130px;
      height: 16px;
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/**
* ------------------------------------------------------------------------
* Hero
* ------------------------------------------------------------------------
*/

.icon {
  border-radius: 50%;
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  transition: background-color .2s ease-in-out;
  width: 3rem;
  height: 3rem;
}

.icon-primary {
  background-color: rgba(0,106,255,.1);
  color: #006aff!important;
}

.icon-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.sep {
  border-top-width: 2px;
  width: 3rem;
}

.card {
  border: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
  transition: all .2s ease-in-out;
}

/**
* ------------------------------------------------------------------------
* Shop Examples
* ------------------------------------------------------------------------
*/

.img-thumbnail {
  padding: .5rem;
  background-color: #f8f9fa;
  border: 0 solid #dee2e6;
  border-radius: .375rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  transition: all .2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  }
}

/**
* ------------------------------------------------------------------------
* About Us
* ------------------------------------------------------------------------
*/

.card {
  border: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
  transition: all .2s ease-in-out;

  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;

    .icon-dark {
      background-color: rgba(52,58,64,.1);
      color: #343a40!important;



      &:hover {
        background-color: #343a40;
        color: #fff!important;
      }
    }


    .icon {
      //border-radius: 50%;
      //display: inline-block;
      //font-size: 1.5rem;
      //position: relative;
      //text-align: center;
      //transition: background-color .2s ease-in-out;
      //width: 3rem;
      //height: 3rem;
    }

  }
}


.icon-sm {
  font-size: .875rem;
  width: 36px;
  height: 36px;
}

