<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-2 px-0 bg-white">
      <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/categories" class="text-decoration-none">Category</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{product.slug}}</li>
    </ol>
  </nav>
</div>
<div class="d-flex justify-content-center align-items-center" style="height: 300px;" *ngIf="!isLoaded">
  <div class="spinner-grow text-primary" role="status"></div>
</div>
<div class="container" *ngIf="isLoaded">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="product-images owl-carousel owl-theme">
        <div class="item" *ngFor="let item of product.images">
          <a class="text-decoration-none carousel-item-product" [routerLink]="'/product/' + item.slug">
            <div class="img-wrap">
              <img [src]="item.src ? item.src : 'https://placeholder.pics/svg/200/f8f9fa/000000-f8f9fa/placeholder'">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <h3>{{product.name}}</h3>
      <small class="text-secondary">{{product.firstCategory.name}}</small>
      <p>
        In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual
        form.
      </p>
      <p>
        <b>Stock Quantity:</b> {{product.stockQuantity}}
      </p>
      <p>
        <b>SKU:</b> FW511948218
      </p>
      <p>
        <b>Price:</b> {{product.price | currency}}
      </p>
      <div class="d-flex justify-content-between w-100 my-2">
        <div class="w-50 d-flex flex-column">
          <h6 class="border-bottom border-secondary py-2"><b>Purchase</b></h6>
          <div class="custom-control custom-radio d-flex justify-content-between">
            <input type="checkbox" class="custom-control-input" [checked]="checkPrice" (change)="choseRent('price')"
                   [id]="product.price+'price'">
            <label class="custom-control-label "
                   [for]="product.price+'price'"><b>{{product.price | currency}}</b></label>
          </div>
        </div>
        <div *ngIf="rentalOptions.length!==0"
             class="w-50 d-flex flex-column">
          <h6 class="border-bottom border-secondary py-2"><b>Rental options</b></h6>
          <div class="d-flex flex-column ">
            <div *ngFor="let rentItem of rentalOptions"
                 class="custom-control custom-radio d-flex my-2 align-items-center">
              <input type="checkbox" class="custom-control-input"
                     (change)="choseRent(rentItem.name)"
                     [checked]="rentItem.checked" [id]="rentItem.name">
              <label class="custom-control-label"
                     [for]="rentItem.name"><b>{{rentItem.price | currency}}</b>/{{rentItem.shortDesc}}
              </label>
              <input type="number" class="mr-0 ml-auto form-control form-control-sm my-0 w-50 border-primary"
                     min="1"
                     placeholder="duration" [(ngModel)]="rentalDuration" [class.d-none]="!rentItem.checked">
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn btn-primary" (click)="addToCart(product)" *ngIf="authService.isAuthorized">
          Add to Cart
        </button>
        <div *ngIf="addedToCard" class="d-flex align-items-center text-success ml-2">
          <i class="material-icons ml-1">
            check_circle
          </i>
          <b>{{finalePrice | currency}}</b>
        </div>
        <button *ngIf="toSearch" class="btn btn-primary ml-3 d-flex align-items-center" (click)="backToSearch()">
          back to search
          <i class="material-icons">
            keyboard_return
          </i>
        </button>
      </div>
    </div>
    <div class="col-12 my-3">
      <div [innerHTML]="product.description"></div>
    </div>
    <div class="col-12">
      <h2 class="content-title mb-2">Related Products</h2>
      <div class="d-flex justify-content-center align-items-center" style="height: 100px;" *ngIf="!relatedIsLoaded">
        <div class="spinner-grow text-primary" role="status"></div>
      </div>
      <div class="related-carousel owl-carousel owl-theme" *ngIf="relatedIsLoaded">
        <div class="item" *ngFor="let item of relatedProducts">
          <a class="text-decoration-none carousel-item" [routerLink]="'/product/' + item.slug">
            <div class="img-wrap">
              <img
                [src]="item.firstImage ? item.firstImage : 'https://placeholder.pics/svg/200/f8f9fa/000000-f8f9fa/placeholder'"
                alt="product">
            </div>
            <h6 class="mt-1">{{item.name}}</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
