<div class="product-details">
  <ng-template #loader>
    <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

  <ng-container *ngIf="!isLoading; else loader">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2 mb-4 bg-white">
          <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/categories" class="text-decoration-none">Category</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
      </nav>
    </div>

    <div class="container">
      <div class="row mb-4">
        <div class="col-12 col-md-4">
          <div class="product-images owl-carousel owl-theme">
            <div class="item" *ngFor="let item of product.images; let last = last">
              <a class="text-decoration-none carousel-item-product" [routerLink]="'/product/' + product.slug">
                <div class="product-details__img-wrap img-wrap">
                  <img
                    #img
                    [src]="item.src ? item.src : 'https://placeholder.pics/svg/200/f8f9fa/000000-f8f9fa/placeholder'"
                    (error)="img.src = 'https://placeholder.pics/svg/300/f8f9fa/000000-f8f9fa/' + product.name"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="product-details__info">
            <h3 class="product-details__title">{{ product.name | titlecase }}</h3>
            <small class="product-details__description">{{ product.firstCategory.name }}</small>
          </div>
          <div class="pb-2">
            Availability: <b>{{ product.stockQuantity }}</b> in stock
          </div>
          <div class="product-details__actions">
            <div *ngIf="product.availableForRent" class="product-details__rent">
              <span class="product-details__rent-label">Rent from</span>

              <mat-form-field class="product-details__datepicker">
                <input
                  matInput
                  [min]="dateFromMinDate"
                  [(ngModel)]="dateFrom"
                  [matDatepicker]="matDateFrom"
                  (dateChange)="onDateFromChange()"
                />
                <mat-datepicker-toggle matSuffix [for]="matDateFrom"></mat-datepicker-toggle>
                <mat-datepicker #matDateFrom></mat-datepicker>
              </mat-form-field>

              <span>by</span>

              <mat-form-field class="product-details__datepicker">
                <input matInput [min]="dateToMinDate" [(ngModel)]="dateTo" [matDatepicker]="matDateTo" />
                <mat-datepicker-toggle matSuffix [for]="matDateTo"></mat-datepicker-toggle>
                <mat-datepicker #matDateTo></mat-datepicker>
              </mat-form-field>

              <span class="product-details__amount-days">
                for&nbsp;{{ daysAmount }}&nbsp;{{ daysAmount | i18nPlural: daysMapping }}
              </span>
            </div>

            <div class="product-details__actions d-flex">
              <button
                *ngIf="product.availableForRent"
                [disabled]="!addingTheProduct"
                (click)="rent()"
                color="primary"
                mat-raised-button
              >
                Rent for {{ rentPrice | currency }}
              </button>
              <button *ngIf="product.price" [disabled]="!addingTheProduct" (click)="buy()" mat-raised-button>
                Buy for {{ product.price | currency }}
              </button>
              <mat-spinner *ngIf="!addingTheProduct" [diameter]="30"></mat-spinner>
            </div>
          </div>
        </div>
      </div>

      <div class="product-details__text row mb-4">
        <div class="col-12" [innerHTML]="product.description"></div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="content-title mb-2">Related Products</h2>
          <div class="related-carousel owl-carousel owl-theme">
            <div class="item" *ngFor="let item of relatedProducts">
              <a class="text-decoration-none carousel-item" [routerLink]="'/product/' + item.slug">
                <div class="img-wrap">
                  <img
                    #productImage
                    [src]="
                      item.firstImage
                        ? item.firstImage
                        : 'https://placeholder.pics/svg/200/f8f9fa/000000-f8f9fa/placeholder'
                    "
                    (error)="productImage.src = 'https://placeholder.pics/svg/300/f8f9fa/000000-f8f9fa/' + item.name"
                    alt="product"
                  />
                </div>
                <h6 class="mt-1">{{ item.name }}</h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
