<div class="checkout-page">
  <ng-container *ngIf="orderCompleted">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center flex-column" style="height: 300px;">
        <div class="col col-md-8">
          <h3>Thank you</h3>
          <h6 class="font-weight-500">Confirmation Number: {{ orderNumber }}</h6>
          <span class="text-light text-muted">Our team is working on your order.</span>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!orderCompleted">
    <ng-template #loader>
      <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
        <div class="spinner-grow text-primary" role="status"></div>
      </div>
    </ng-template>

    <div class="container mb-3" *ngIf="!isLoading; else loader">
      <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
        <!-- Project Info -->
        <mat-step [stepControl]="checkoutForm">
          <form [formGroup]="checkoutForm" class="row">
            <ng-template matStepLabel>Project</ng-template>
            <div class="col-12 col-md-6">
              <h5 class="mb-3 text-center">Requested By</h5>
              <div class="form-row">
                <div class="form-group col-6">
                  <input
                    #firstName
                    formControlName="firstName"
                    class="form-control"
                    placeholder="First Name"
                    [ngClass]="{
                      'is-valid': validationHelper.isValid('firstName', checkoutForm),
                      'is-invalid': validationHelper.isInvalid('firstName', checkoutForm)
                    }"
                  />
                </div>
                <div class="form-group col-6">
                  <input
                    #lastName
                    formControlName="lastName"
                    class="form-control"
                    placeholder="Last Name"
                    [ngClass]="{
                      'is-valid': validationHelper.isValid('lastName', checkoutForm),
                      'is-invalid': validationHelper.isInvalid('lastName', checkoutForm)
                    }"
                  />
                </div>
              </div>
              <div class="form-group">
                <input
                  #email
                  formControlName="email"
                  placeholder="Email"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': validationHelper.isValid('email', checkoutForm),
                    'is-invalid': validationHelper.isInvalid('email', checkoutForm)
                  }"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  #phone
                  formControlName="phone"
                  placeholder="Phone"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': validationHelper.isValid('phone', checkoutForm),
                    'is-invalid': validationHelper.isInvalid('phone', checkoutForm)
                  }"
                />
              </div>
              <div class="form-group">
                <select
                  #project
                  formControlName="projectNumber"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': validationHelper.isValid('projectNumber', checkoutForm),
                    'is-invalid': validationHelper.isInvalid('projectNumber', checkoutForm)
                  }"
                >
                  <option value="" disabled selected>Select your project</option>
                  <option *ngFor="let item of projects" [value]="item.name">{{ item.name }}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h5 class="mb-3 text-center">Shipping Address</h5>
              <div class="form-group">
                <input
                  #address
                  formControlName="address"
                  class="form-control"
                  placeholder="Address"
                  [ngClass]="{
                    'is-valid': validationHelper.isValid('address', checkoutForm),
                    'is-invalid': validationHelper.isInvalid('address', checkoutForm)
                  }"
                />
              </div>
              <div class="form-group">
                <input
                  #city
                  formControlName="city"
                  placeholder="City"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': validationHelper.isValid('city', checkoutForm),
                    'is-invalid': validationHelper.isInvalid('city', checkoutForm)
                  }"
                />
              </div>
              <div class="form-group">
                <input
                  #state
                  formControlName="state"
                  placeholder="state"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': validationHelper.isValid('state', checkoutForm),
                    'is-invalid': validationHelper.isInvalid('state', checkoutForm)
                  }"
                />
              </div>
              <div class="form-group">
                <input
                  #zip
                  formControlName="zip"
                  class="form-control"
                  placeholder="Zip Code"
                  [ngClass]="{
                    'is-valid': validationHelper.isValid('zip', checkoutForm),
                    'is-invalid': validationHelper.isInvalid('zip', checkoutForm)
                  }"
                />
              </div>
            </div>
            <div class="checkout-page__action d-flex w-100 justify-content-center">
              <button mat-raised-button color="primary" [disabled]="!checkoutForm.valid" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <!-- Calendar -->
        <mat-step [stepControl]="deliveryDate" class="p-0">
          <ng-template matStepLabel>Delivery</ng-template>
          <dx-scheduler
            class="checkout-page__scheduler"
            [editing]="false"
            [currentView]="'month'"
            [firstDayOfWeek]="1"
            (onCellClick)="selectDeliveryDate($event)"
            dataCellTemplate="dataCellTemplate"
          >
            <div
              *dxTemplate="let cellData of 'dataCellTemplate'"
              class="checkout-page__scheduler-template"
              [ngClass]="{
                'checkout-page__scheduler-template--past-day': cellData.startDate < currentDate
              }"
            >
              <div class="checkout-page__scheduler-template-content">
                <div>{{ cellData.text }}</div>
                <div>40$</div>
              </div>
            </div>
          </dx-scheduler>
          <div *ngIf="deliveryDate.value"><b>Delivery is scheduled for :</b> {{ deliveryDate.value | date }}</div>
          <div class="checkout-page__action d-flex w-100 justify-content-center">
            <button mat-raised-button color="primary" [disabled]="!deliveryDate.value" matStepperNext>
              Next
            </button>
          </div>
        </mat-step>

        <!-- Review -->
        <mat-step editable="false">
          <ng-template matStepLabel>Review</ng-template>
          <div class="checkout-page__review-form d-flex flex-column">
            <div class="container">
              <div class="row flex-column justify-content-center align-items-center">
                <!-- Billing Info -->
                <div class="col-md-8 d-flex flex-column text-muted p-2">
                  <h5 class="checkout-page__title text-center p-2">Requested By</h5>
                  <table class="checkout-page__review-table">
                    <tr>
                      <td class="checkout-page__review-table-label">Name</td>
                      <td class="checkout-page__review-table-value">{{ firstName.value }} {{ lastName.value }}</td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">Email</td>
                      <td class="checkout-page__review-table-value">{{ email.value }}</td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">Phone</td>
                      <td class="checkout-page__review-table-value">{{ phone.value }}</td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">Project</td>
                      <td class="checkout-page__review-table-value">{{ project.value }}</td>
                    </tr>
                  </table>
                </div>

                <!-- Shipping Info -->
                <div class="col-md-8 d-flex flex-column text-muted p-2">
                  <h5 class="checkout-page__title text-center p-2">Shipping</h5>
                  <table class="checkout-page__review-table">
                    <tr>
                      <td class="checkout-page__review-table-label">Address</td>
                      <td class="checkout-page__review-table-value">{{ address.value }}</td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">City</td>
                      <td class="checkout-page__review-table-value">
                        {{ city.value }} <ng-container *ngIf="state.value">({{ state.value }})</ng-container>
                      </td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">Delivery date</td>
                      <td class="checkout-page__review-table-value">{{ deliveryDate.value | date }}</td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">Zip</td>
                      <td class="checkout-page__review-table-value">{{ zip.value }}</td>
                    </tr>
                  </table>
                </div>

                <!-- Products Info -->
                <div *ngIf="products" class="col-md-8 d-flex flex-column text-muted p-2">
                  <h5 class="text-center checkout-info-title p-2">Products</h5>
                  <div *ngFor="let item of products" class="d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex align-items-center">
                      <img
                        *ngIf="item.imageUrl"
                        class="img border rounded m-1 mr-0"
                        src="{{ item.imageUrl }}"
                        style="height: 50px; width: 50px;"
                      />
                      <b>{{ item.title }} ({{ item.duration ? item.duration + 'days' : 'x' + item.count }})</b>
                    </div>
                    <div>
                      {{ item.price | currency }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="checkout-page__continue-shopping" ng-preserve-whitespaces>
            Forgot something?
            <a routerLink="/categories">Click here to Continue Shopping</a>
          </div>

          <div class="d-flex w-100 justify-content-center">
            <button mat-raised-button color="primary" (click)="!isSubmitInProgress && submit()">
              <div class="spinner-grow text-light" role="status" [hidden]="!isSubmitInProgress"></div>
              <span [hidden]="isSubmitInProgress">Place Order</span>
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </ng-container>
</div>
