<div class="checkout-page">
  <ng-template #receipt>
    <div class="checkout-page__receipt container">
      <div class="checkout-page__receipt-content d-flex justify-content-center align-items-center flex-column">
        <div class="col col-md-8">
          <h3>Thank you</h3>
          <h6 class="font-weight-500">Confirmation Number: {{ orderNumber }}</h6>
          <span class="text-light text-muted">Our team is working on your order.</span>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-container *ngIf="!orderCompleted; else receipt">
    <ng-template #loader>
      <div class="checkout-page__loader d-flex justify-content-center align-items-center">
        <div class="spinner-grow text-primary" role="status"></div>
      </div>
    </ng-template>

    <div class="container mb-3" *ngIf="!isLoading; else loader">
      <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
        <!-- Project Info -->
        <mat-step [stepControl]="checkoutForm">
          <form [formGroup]="checkoutForm" class="checkout-page__form">
            <ng-template matStepLabel>Project</ng-template>
            <div class="col-12 col-md-6">
              <h5 class="mb-3 text-center">Requested By</h5>
              <div class="form-group">
                <mat-form-field class="checkout-page__form-field">
                  <mat-label>First name</mat-label>
                  <input matInput formControlName="firstName" placeholder="First name" />
                  <mat-error *ngIf="checkoutForm.get('firstName').hasError('required')">
                    First name name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="checkout-page__form-field">
                  <mat-label>Last name</mat-label>
                  <input matInput formControlName="lastName" placeholder="Last Name" />
                  <mat-error *ngIf="checkoutForm.get('lastName').hasError('required')"> Last name is <strong>required</strong> </mat-error>
                </mat-form-field>
                <mat-form-field class="checkout-page__form-field">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" placeholder="Email" />
                  <mat-error *ngIf="checkoutForm.get('email').hasError('required')"> Email is <strong>required</strong> </mat-error>
                  <mat-error *ngIf="checkoutForm.get('email').hasError('email')">
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="checkout-page__form-field">
                  <mat-label>Phone</mat-label>
                  <input matInput formControlName="phone" placeholder="Phone" />
                  <mat-error *ngIf="checkoutForm.get('phone').hasError('required')"> Phone is <strong>required</strong> </mat-error>
                </mat-form-field>
                <mat-form-field class="checkout-page__form-field">
                  <mat-label>Select project</mat-label>
                  <mat-select formControlName="projectNumber">
                    <mat-option *ngFor="let project of projects" [value]="project.name">
                      {{ project.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="checkoutForm.get('projectNumber').hasError('required')">
                    Project is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h5 class="mb-3 text-center">Shipping Address</h5>
              <div class="form-group">
                <mat-form-field class="checkout-page__form-field">
                  <mat-label>Address</mat-label>
                  <input matInput formControlName="address" placeholder="Address" />
                  <mat-error *ngIf="checkoutForm.get('address').hasError('required')"> Address is <strong>required</strong> </mat-error>
                </mat-form-field>

                <mat-form-field class="checkout-page__form-field">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="city" placeholder="City" />
                  <mat-error *ngIf="checkoutForm.get('city').hasError('required')"> City is <strong>required</strong> </mat-error>
                </mat-form-field>

                <mat-form-field class="checkout-page__form-field">
                  <mat-label>State</mat-label>
                  <input matInput formControlName="state" placeholder="State" />
                  <mat-error *ngIf="checkoutForm.get('state').hasError('required')"> State is <strong>required</strong> </mat-error>
                </mat-form-field>

                <mat-form-field class="checkout-page__form-field">
                  <mat-label>Zip code</mat-label>
                  <input matInput formControlName="zip" placeholder="Zip code" />
                  <mat-error *ngIf="checkoutForm.get('zip').hasError('required')"> Zip code is <strong>required</strong> </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="checkout-page__action">
              <button mat-raised-button color="primary" [disabled]="!checkoutForm.valid" matStepperNext>
                Continue to schedule delivery
              </button>
            </div>
          </form>
        </mat-step>

        <!-- Calendar -->
        <mat-step [stepControl]="deliveryDate" class="p-0">
          <ng-template matStepLabel>Delivery</ng-template>
          <dx-scheduler
            class="checkout-page__scheduler"
            [editing]="false"
            [currentView]="'month'"
            [firstDayOfWeek]="1"
            (onCellClick)="selectDeliveryDate($event)"
            dataCellTemplate="dataCellTemplate"
          >
            <div
              *dxTemplate="let cellData of 'dataCellTemplate'"
              class="checkout-page__scheduler-template"
              [ngClass]="{
                'checkout-page__scheduler-template--past-day': cellData.startDate < currentDate
              }"
            >
              <div class="checkout-page__scheduler-template-content">
                <div class="checkout-page__scheduler-template-text">{{ cellData.text }}</div>
                <div class="checkout-page__scheduler-template-price" *ngIf="cellData.startDate > currentDate">
                  <div class="checkout-page__scheduler-template-price-label">Delivery fee</div>
                  <div class="checkout-page__scheduler-template-amount">$40</div>
                </div>
              </div>
            </div>
          </dx-scheduler>

          <ng-container *ngIf="deliveryDate.value">
            <div class="checkout-page__selected-date">
              <div class="checkout-page__selected-label">
                Delivery is scheduled for:
              </div>
              <div class="checkout-page__selected-date-value">
                {{ deliveryDate.value | date }}
              </div>
            </div>
            <div class="checkout-page__delivery-time">
              <mat-radio-group [formControl]="deliveryTime" aria-label="Select delivery time">
                <mat-radio-button [value]="deliveryTimeOptions.Am">AM Delivery</mat-radio-button>
                <mat-radio-button [value]="deliveryTimeOptions.Pm">PM Delivery</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="checkout-page__instructions">
              <mat-form-field class="checkout-page__form-field">
                <mat-label>Delivery instructions</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  [formControl]="deliveryInstructions"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                ></textarea>
              </mat-form-field>
            </div>
          </ng-container>

          <div class="checkout-page__action">
            <button mat-raised-button color="primary" [disabled]="!deliveryDate.value" matStepperNext>
              Click to continue
            </button>
          </div>
        </mat-step>

        <!-- Review -->
        <mat-step editable="false">
          <ng-template matStepLabel>Review</ng-template>
          <div class="checkout-page__review-form d-flex flex-column">
            <div class="container">
              <div class="row flex-column justify-content-center align-items-center">
                <!-- Billing Info -->
                <div class="col-md-8 d-flex flex-column text-muted p-2">
                  <h5 class="checkout-page__title text-center p-2">Requested By</h5>
                  <table class="checkout-page__review-table">
                    <tr>
                      <td class="checkout-page__review-table-label">Name</td>
                      <td class="checkout-page__review-table-value">
                        {{ checkoutForm.get('firstName').value }} {{ checkoutForm.get('lastName').value }}
                      </td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">Email</td>
                      <td class="checkout-page__review-table-value">{{ checkoutForm.get('email').value }}</td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">Phone</td>
                      <td class="checkout-page__review-table-value">{{ checkoutForm.get('phone').value }}</td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">Project</td>
                      <td class="checkout-page__review-table-value">{{ checkoutForm.get('projectNumber').value }}</td>
                    </tr>
                  </table>
                </div>

                <!-- Shipping Info -->
                <div class="col-md-8 d-flex flex-column text-muted p-2">
                  <h5 class="checkout-page__title text-center p-2">Shipping</h5>
                  <table class="checkout-page__review-table">
                    <tr>
                      <td class="checkout-page__review-table-label">Address</td>
                      <td class="checkout-page__review-table-value">{{ checkoutForm.get('address').value }}</td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">City</td>
                      <td class="checkout-page__review-table-value">
                        {{ checkoutForm.get('city').value }}
                        <ng-container *ngIf="checkoutForm.get('state').value">({{ checkoutForm.get('state').value }})</ng-container>
                      </td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">Delivery date</td>
                      <td class="checkout-page__review-table-value">{{ deliveryDate.value | date }}</td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">Delivery instructions</td>
                      <td class="checkout-page__review-table-value">{{ deliveryInstructions.value }}</td>
                    </tr>
                    <tr>
                      <td class="checkout-page__review-table-label">Zip</td>
                      <td class="checkout-page__review-table-value">{{ checkoutForm.get('zip').value }}</td>
                    </tr>
                  </table>
                </div>

                <!-- Products Info -->
                <div *ngIf="products" class="col-md-8 d-flex flex-column text-muted p-2">
                  <h5 class="text-center checkout-info-title p-2">Products</h5>
                  <div *ngFor="let item of products" class="d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex align-items-center">
                      <img
                        *ngIf="item.imageUrl"
                        class="checkout-page__product-image img border rounded m-1 mr-0"
                        src="{{ item.imageUrl }}"
                      />
                      <b>{{ item.title }} ({{ item.duration ? item.duration + 'days' : 'x' + item.count }})</b>
                    </div>
                    <div>
                      {{ item.price | currency }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="checkout-page__continue-shopping" ng-preserve-whitespaces>
            Forgot something?
            <a routerLink="/categories">Click here to Continue Shopping</a>
          </div>

          <div class="checkout-page__confirm-action d-flex w-100 justify-content-center">
            <button mat-raised-button color="primary" (click)="!isSubmitInProgress && submit()">
              <mat-spinner
                class="checkout-page__confirm-spinner"
                color="accent"
                [diameter]="20"
                [hidden]="!isSubmitInProgress"
              ></mat-spinner>
              <span [hidden]="isSubmitInProgress">Place order</span>
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </ng-container>
</div>
