<!--<div class="container">-->
<!--  <nav aria-label="breadcrumb">-->
<!--    <ol class="breadcrumb my-2 px-0 bg-white">-->
<!--      <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none">Home</a></li>-->
<!--      <li class="breadcrumb-item"><a routerLink="/cart" class="text-decoration-none">Cart</a></li>-->
<!--      <li class="breadcrumb-item active" aria-current="page">Checkout</li>-->
<!--    </ol>-->
<!--  </nav>-->
<!--</div>-->

<div class="container" *ngIf="orderCompleted">
  <div class="d-flex justify-content-center align-items-center flex-column" style="height: 300px;">
    <div class="col col-md-4">
      <h3>Thank you</h3>
      <h6 class="font-weight-500">Confirmation Number: {{orderNumber}}</h6>
      <span class="text-light text-muted">Our team is working on your order.</span>
      <!--<button class="btn btn-primary text-uppercase mt-5">Let's keep shopping</button>-->
    </div>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center" style="height: 300px;" *ngIf="!isUserLoaded">
  <div class="spinner-grow text-primary" role="status"></div>
</div>
<div class="container mb-3" *ngIf="isUserLoaded && didLoaded" [class.d-none]="orderCompleted">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <!-- Project Info -->
    <mat-step>
      <ng-template matStepLabel>Project</ng-template>
      <form [formGroup]="checkoutForm" class="row">
        <div class="col-12 col-md-6">
          <h5 class="mb-3 text-center">Requested By</h5>
          <div class="form-row">
            <div class="form-group col-6">
              <input
                #firstName
                formControlName="firstName"
                class="form-control"
                placeholder="First Name"
                [ngClass]="{'is-valid': validationHelper.isValid('firstName',checkoutForm), 'is-invalid': validationHelper.isInvalid('firstName',checkoutForm)}">
            </div>
            <div class="form-group col-6">
              <input
                #lastName
                formControlName="lastName"
                class="form-control"
                placeholder="Last Name"
                [ngClass]="{'is-valid': validationHelper.isValid('lastName',checkoutForm),
                'is-invalid': validationHelper.isInvalid('lastName',checkoutForm)}">
            </div>
          </div>
          <div class="form-group">
            <input
              #email
              formControlName="email"
              placeholder="Email"
              class="form-control"
              [ngClass]="{'is-valid': validationHelper.isValid('email',checkoutForm), 'is-invalid': validationHelper.isInvalid('email',checkoutForm)}">
          </div>
          <div class="form-group">
            <input
              #phone
              formControlName="phone"
              placeholder="Phone"
              class="form-control"
              [ngClass]="{'is-valid': validationHelper.isValid('phone',checkoutForm), 'is-invalid': validationHelper.isInvalid('phone',checkoutForm)}">
          </div>
          <h5 class="mb-3 text-center">Project</h5>
          <div class="form-group">
            <select #project
                    formControlName="projectNumber"
                    class="form-control"
                    [ngClass]="{'is-valid': validationHelper.isValid('projectNumber', checkoutForm), 'is-invalid': validationHelper.isInvalid('projectNumber', checkoutForm)}">
              <option *ngFor="let item of projects" [value]="item.name">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <h5 class="mb-3 text-center">Shipping Address</h5>
          <div class="form-group">
            <!--<label>Address</label>-->
            <input
              #address
              formControlName="address"
              class="form-control"
              placeholder="Address"
              [ngClass]="{'is-valid': validationHelper.isValid('address',checkoutForm), 'is-invalid': validationHelper.isInvalid('address',checkoutForm)}">
          </div>
          <div class="form-group">
            <!--<label>City</label>-->
            <input
              #city
              formControlName="city"
              placeholder="City"
              class="form-control"
              [ngClass]="{'is-valid': validationHelper.isValid('city',checkoutForm), 'is-invalid':
              validationHelper.isInvalid('city',checkoutForm)}">
          </div>
          <div class="form-group">
            <!--<label>State</label>-->
            <input
              #state
              formControlName="state"
              placeholder="state"
              class="form-control"
              [ngClass]="{'is-valid': validationHelper.isValid('state',checkoutForm), 'is-invalid': validationHelper.isInvalid('state',checkoutForm)}">
          </div>
          <div class="form-group">
            <!--<label>Zip Code</label>-->
            <input
              #zip
              formControlName="zip"
              class="form-control"
              placeholder="Zip Code"
              [ngClass]="{'is-valid': validationHelper.isValid('zip',checkoutForm), 'is-invalid': validationHelper.isInvalid('zip',checkoutForm)}">
          </div>
        </div>
        <div class="d-flex w-100 justify-content-center">
          <button class="btn btn-primary float-right" [disabled]="!checkoutForm.valid" matStepperNext>Continue to
            schedule delivery
          </button>
        </div>
      </form>

    </mat-step>

    <!-- Calendar -->
    <mat-step class="p-0">
      <ng-template matStepLabel>Delivery</ng-template>
      <dx-scheduler
        [editing]="false"
        [currentView]="'month'"
        [views]='["month"]'
        [startDayHour]="9"
        (onCellClick)="cellClick($event)">
      </dx-scheduler>
      <div *ngIf="checkoutForm.value.deliveryDate">
        <b>Delivery is scheduled for :</b> {{checkoutForm.value.deliveryDate | date}}
      </div>
      <!--<div class="d-flex w-100">-->
      <!--<span class="d-flex">Delivery is scheduled for </span>-->
      <!--<span class="d-flex">October 10, 2019</span>-->

      <!--<div class="d-flex">-->
      <!--Am-->
      <!--Pm-->
      <!--</div>-->
      <!--</div>-->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirm Billing</ng-template>
      <div class="container">
        <div class="row justify-content-center ">
          <h3 class="col-12 text-center my-3">Confirm Billing</h3>
          <div class="col-md-10 d-flex flex-column">
            <div class="form-group">
              <input [(ngModel)]="firstName.value + ' '+lastName.value" [disabled]="true" class="form-control">
            </div>
            <div class="form-group">
              <input [(ngModel)]="project.value" [disabled]="true" class="form-control">
            </div>
            <div class="form-group">
              <input [(ngModel)]="project.value" [disabled]="true" class="form-control">
            </div>
          </div>
          <button class="btn col-md-3 btn-primary float-center" [disabled]="!checkoutForm.valid" matStepperNext>
            Continue to review
          </button>
        </div>
      </div>
    </mat-step>

    <!-- Review -->
    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <div class="d-flex flex-column">
        <div class="container ">
          <div class="row flex-column justify-content-center align-items-center">
            <!-- Billing Info -->
            <div class="col-md-8 d-flex flex-column text-muted p-2">
              <h5 class="text-center checkout-info-title p-2">Requested By</h5>
              <div class="d-flex justify-content-between w-100">
                <div>
                  <b>firstName</b>
                </div>
                <div>
                  {{firstName.value}} {{lastName.value}}
                </div>
              </div>
              <div class="d-flex justify-content-between w-100">
                <div>
                  <b>Email</b>
                </div>
                <div>
                  {{email.value}}
                </div>
              </div>
              <div class="d-flex justify-content-between w-100">
                <div>
                  <b>Phone</b>
                </div>
                <div>
                  {{phone.value}}
                </div>
              </div>
              <div class="d-flex justify-content-between w-100">
                <div>
                  <b>Project</b>
                </div>
                <div>{{project.value}}</div>
              </div>
            </div>
            <!-- Shipping Info -->
            <div class="col-md-8 d-flex flex-column text-muted p-2">
              <h5 class="text-center checkout-info-title p-2">Shipping</h5>
              <div class="d-flex justify-content-between w-100">
                <div>
                  <b>Address</b>
                </div>
                <div>
                  {{address.value}}
                </div>
              </div>
              <div class="d-flex justify-content-between w-100">
                <div>
                  <b>City</b>
                </div>
                <div>
                  {{city.value}}({{state.value}})
                </div>
              </div>
              <div class="d-flex justify-content-between w-100">
                <div>
                  <b>Zip</b>
                </div>
                <div>
                  {{zip.value}}
                </div>
              </div>
              <div *ngIf="checkoutForm.value.deliveryDate" class="d-flex justify-content-between w-100">
                <div>
                  <b>Delivery date</b>
                </div>
                <div>{{checkoutForm.value.deliveryDate | date}}</div>
              </div>
            </div>
            <!-- Products Info -->
            <div *ngIf="products" class="col-md-8 d-flex flex-column text-muted p-2">
              <h5 class="text-center checkout-info-title p-2">Products</h5>
              <div *ngFor="let item of products" class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <img *ngIf="item.imageUrl" class="img border rounded m-1 mr-0"
                       src="{{item.imageUrl}}" style="height: 50px; width: 50px">
                  <b>{{item.title}}</b>
                </div>
                <div>
                  {{item.count}}
                </div>
                <div>
                  {{item.price}}$
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="d-flex flex-column">-->
      <!--<div class="d-flex bg-light rounded w-100 p-3 mb-3">-->
      <!--Product Items-->
      <!--</div>-->

      <!--<small class="text-secondary">Est. Delivery Date</small>-->
      <!--<div class="d-flex bg-light rounded w-100 p-3 mb-3">-->
      <!--<span>October 10, 2019</span>-->
      <!--<span>PM Delivery</span>-->
      <!--</div>-->
      <!--</div>-->
      <div class="d-flex flex-column w-100 text-center mt-3 mb-3">
        <h6 class="">Forgot something ?</h6>
        <a routerLink="/categories" class="">Click here to Continue Shopping</a>
      </div>
      <div class="d-flex w-100 justify-content-center">
        <button class="btn btn-lg btn-primary float-right col-12 col-md-4 d-flex justify-content-center"
                [disabled]="isLoading" (click)="placeOrder(checkoutForm)">
          <div class="spinner-grow text-light mr-2" role="status" [hidden]="!isLoading"></div>
          Place Order
        </button>
        <!-- [disabled]="checkoutForm.invalid" -->
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
