.form-container{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  z-index: 3;

  .form-creation{
    width: 50%;
    height: 50vh;
  }
}
