<div class="form-container">
  <form class="d-flex bg-light mt-3 p-2 border form-creation rounded flex-column align-items-center justify-content-center"
        [formGroup]="profileForm"
        (ngSubmit)="onSubmit()">
    <h3>New project</h3>
    <label class="w-100">
      name:
      <input class="form-control" type="text" formControlName="name" placeholder="name">
    </label>
    <label class="w-100">
      description:
      <textarea class="form-control" type="text" formControlName="description">
    </textarea>
    </label>
    <div class="d-flex w-100 align-self-end justify-content-between">
      <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
      <button class="btn btn-warning" (click)=" formDone.emit(false);">
        close
      </button>
    </div>
  </form>
</div>
