/**
* ------------------------------------------------------------------------
* Hide Wordpress Footer
* ------------------------------------------------------------------------
*/

#wpfooter {
    display: none;
}

#footer-left {
    display: none;
}

/**
* ------------------------------------------------------------------------
* Hide Redundat Menu Items
* ------------------------------------------------------------------------
*/

#wp-admin-bar-comments,
#wp-admin-bar-new-content,
#wp-admin-bar-wp-logo,
#dashboard_right_now,
#dashboard_activity,
#dashboard_primary,
#screen-meta-links {
    display: none !important;
}

li:nth-last-child(-n+2) {
    color: red;
}

/**
* ------------------------------------------------------------------------
* Hide Preview Button
* ------------------------------------------------------------------------
*/

#preview-action {
    display: none;
}

/**
* ------------------------------------------------------------------------
* Hide Product Permalink
* ------------------------------------------------------------------------
*/

#edit-slug-box {
    display: none;
}

/**
* ------------------------------------------------------------------------
* Hide Product Preview Link
* ------------------------------------------------------------------------
*/

.row-actions .view {
    display: none;
}

/**
* ------------------------------------------------------------------------
* Hide Product Downloads Options
* ------------------------------------------------------------------------
*/

#woocommerce-order-downloads {
    display: none;
}

/**
* ------------------------------------------------------------------------
* Hide Profile link from Order
* ------------------------------------------------------------------------
*/

#order_data .form-field.form-field-wide.wc-customer-user a:nth-child(2) {
    display: none;
}

/**
* ------------------------------------------------------------------------
* Change WooCommerce Logo in Admin side menu
* ------------------------------------------------------------------------
*/

#adminmenu #toplevel_page_woocommerce .menu-icon-generic div.wp-menu-image::before {
    content: '\e01d';
}

/**
* ------------------------------------------------------------------------
* Remove WooCommerce link in onshop-api admin menu
* ------------------------------------------------------------------------
*/

#wp-admin-bar-view-store {
    display: none;
}
