<div class="container">
  <div class="row d-flex align-items-center justify-content-center" style="overflow-x: auto;">
    <table mat-table *ngIf="existingItems.length" [dataSource]="existingItems" class="users-table border rounded">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.first_name }}</td>
      </ng-container>
      <ng-container matColumnDef="Last Name">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
      </ng-container>
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="Button">
        <th mat-header-cell *matHeaderCellDef>
          <i class="material-icons">
            edit
          </i>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [disabled]="isProcessing" color="warn" (click)="deleted.emit(element)">
            <mat-icon>clear</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['Name', 'Last Name', 'Email', 'Button']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['Name', 'Last Name', 'Email', 'Button']"></tr>
    </table>
    <div *ngIf="!existingItems.length">
      <h3>0 Users exists</h3>
    </div>
  </div>
  <div class="row my-1 justify-content-end">
    <button mat-raised-button color="primary" (click)="addList.isVisible = !addList.isVisible">
      <mat-icon class="m-1">
        person_add
      </mat-icon>
    </button>
  </div>
</div>

<div #addList class="container mt-3 mb-3">
  <ng-container *ngIf="addList.isVisible">
    <div class="row d-flex align-items-center justify-content-center" style="overflow-x: auto;">
      <table *ngIf="allItems.length" mat-table [dataSource]="allItems" class="users-table border rounded">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.first_name }}</td>
        </ng-container>
        <ng-container matColumnDef="Last Name">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
        </ng-container>
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
        <ng-container matColumnDef="Button">
          <th mat-header-cell *matHeaderCellDef>
            <i class="material-icons">
              edit
            </i>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" [disabled]="isProcessing" (click)="added.emit(element)">
              <mat-icon>add_box</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['Name', 'Last Name', 'Email', 'Button']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['Name', 'Last Name', 'Email', 'Button']"></tr>
      </table>
      <div *ngIf="!allItems.length">
        <h3 class="text-center">0 Users exists</h3>
      </div>
    </div>
  </ng-container>
</div>
