.table-element {
  display: flex;
  align-items: center;
}

.font-small {
  font-size: 0.9em;
}

.users-table {
  width: 100%;
  margin: auto auto 20px;

  td,
  th {
    text-align: center;
    padding: 5px 10px;
  }

  .purchase-returns-page__rental-cell {
    width: 60px;
  }
}

button.mat-raised-button,
button.mat-icon-button {
  outline: none;
}
