:host {
  display: block;
}

.product-item {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 100%;

  transition: box-shadow 0.2s, border 0.4s ease-out;

  &:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .category {
    margin-bottom: 1em;
    font-size: 0.857em;
    line-height: 1.05em;
    height: 1.05em;
    display: flex;
    color: #878787;
  }

  .title {
    font-weight: 700;
    overflow: hidden;
    font-size: 0.857em;
    line-height: 1.167em;
    height: 2.334em;
    color: #0062bd;
  }

  .image {
    height: 200px;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;

    .pop-up-window {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: rgba(144, 238, 144, 0.7);
    }
    .image__src {
      width: 100%;
    }
  }

  .price-options {
    justify-content: space-around;
    display: flex;
    height: 95px;
    margin-bottom: 10px;

    .price-item {
      display: flex;
      flex-direction: column;
      width: 50%;
      text-align: center;

      .price-details {
        font-size: 90%;
      }
    }

    .price-title {
      margin-bottom: 5px;
    }
  }
}
