.material-icons{
  cursor: pointer;
}
.user-info{
  width: auto;
  background-color: lightgray;
}
.support-column{
  display: block;
  width: 38px;
}

@media screen and (min-width: 700px){
  .support-column{
    display: none;
  }
}

