<div class="orders">
  <ng-container>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let order of orders">
        <mat-expansion-panel-header expandedHeight="80px" collapsedHeight="80px">
          <mat-panel-title fxLayoutAlign="flex-start center">
            <div>
              <span>{{ order.projectNumber }} (Order #{{ order.id }})</span>
              <div>
                <small> {{ order.dateCreated | date }}</small>
              </div>
            </div>
          </mat-panel-title>
          <mat-panel-description fxLayout="row" fxLayoutAlign="space-between center">
            <div
              class="orders__status"
              [ngClass]="{
                'text-warning': order.status === 'processing',
                'text-secondary': order.status === 'pending',
                'text-success': order.status === 'completed'
              }"
            >
              {{ order.status }}
            </div>

            <div class="orders__info" fxLayout.lt-sm="row" fxLayoutAlign.lt-sm="center center">
              <b class="orders__total">{{ order.total | currency }}</b>
              <div>
                <small>Delivery: {{ order.deliveryDate | date }}</small>
              </div>
            </div>

            <div fxHide.lt-sm>
              <ng-container *ngIf="order.rentalDuration">
                <a [routerLink]="['/return-product', order.id]" color="primary" mat-raised-button>{{
                  getDurationEndDateMessage(order)
                }}</a></ng-container
              >
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="orders__data">
          <table class="orders__table">
            <tr>
              <th colspan="2">Product</th>
            </tr>
            <tr *ngFor="let product of order.productItems">
              <td>{{ product.name }}</td>
              <td>{{ product.price | currency }}</td>
            </tr>
          </table>

          <table class="orders__table">
            <tr>
              <th colspan="2">Billing</th>
            </tr>
            <tr>
              <td>
                Name
              </td>
              <td>{{ order.billing.fistName }} {{ order.billing.lastName }}</td>
            </tr>
            <tr>
              <td>
                Email
              </td>
              <td>{{ order.billing.email }}</td>
            </tr>
            <tr>
              <td>
                Phone
              </td>
              <td>{{ order.billing.phone }}</td>
            </tr>
          </table>

          <table class="orders__table">
            <tr>
              <th colspan="2">Shipping</th>
            </tr>
            <tr>
              <td>
                Name:
              </td>
              <td>{{ order.shipping.fistName }} {{ order.shipping.lastName }}</td>
            </tr>
            <tr>
              <td>
                City:
              </td>
              <td>{{ order.shipping.city }} ({{ order.shipping.state }})</td>
            </tr>
            <tr>
              <td>
                Address:
              </td>
              <td>{{ order.shipping.address1 }}</td>
            </tr>
            <tr>
              <td>
                Zip:
              </td>
              <td>{{ order.shipping.postcode }}</td>
            </tr>
          </table>
          <div class="orders__action" fxLayoutAlign="center center">
            <div>
              <ng-container *ngIf="order.rentalDuration">
                <a [routerLink]="['/return-product', order.id]" color="primary" mat-raised-button>{{
                  getDurationEndDateMessage(order)
                }}</a></ng-container
              >
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
