<div class="orders">
  <ng-container *ngFor="let order of orders">
    <div class="orders__item">
      <div #orderDetails class="orders__item-preview" (click)="orderDetails.isVisible = !orderDetails.isVisible">
        <div class="orders__item-column orders__item-column--info">
          <i *ngIf="!orderDetails.isVisible" class="material-icons mx-2">keyboard_arrow_down</i>
          <i *ngIf="orderDetails.isVisible" class="material-icons mx-2">keyboard_arrow_up</i>
          <div class="d-flex flex-column p-0">
            <span class="font-less">{{ order.projectNumber }}(Order #{{ order.id }})</span>
            <div class="d-flex small text-muted">
              <small> {{ order.dateCreated | date }}</small>
            </div>
          </div>
        </div>
        <div
          class="orders__item-column orders__item--status font-less text-secondary"
          [ngClass]="{
            'text-warning': order.status === 'processing',
            'text-secondary': order.status === 'pending',
            'text-success': order.status === 'completed'
          }"
        >
          {{ order.status }}
        </div>
        <div class="orders__item-column orders__item-column--price d-flex flex-column font-less">
          <b>{{ order.total | currency }}</b>
          <div class="d-flex small text-muted">
            <small>Delivery: {{ order.deliveryDate | date }}</small>
          </div>
        </div>
        <div class="orders__item-column orders__item-column--action">
          <ng-container *ngIf="getDurationEndDate(order)">
            <a [routerLink]="['/return-product', order.id]" color="primary" mat-raised-button>{{
              getDurationEndDateMessage(order)
            }}</a></ng-container
          >
        </div>
      </div>

      <div
        class="col-12 d-flex flex-column"
        [class.d-none]="!orderDetails.isVisible"
        [class.d-flex]="orderDetails.isVisible"
      >
        <!-- products to show -->
        <div class="row w-100">
          <div class="col-12 mt-2 d-flex">
            <i class="material-icons mx-2" style="visibility: hidden;">keyboard_arrow_down</i>
            <h6 class="text-muted">Product</h6>
          </div>
        </div>
        <div *ngFor="let product of order.productItems" class="row w-100">
          <div class="col-md-8 col-12 small d-flex justify-content-between my-2 product-box">
            <div class="d-flex">
              <i class="material-icons mx-2" style="visibility: hidden;">keyboard_arrow_down</i>
              <div>
                <b>{{ product.name }}</b>
              </div>
            </div>
            <div class="font-weight-bold">
              {{ product.price | currency }}
            </div>
          </div>
        </div>
        <!-- delivery properties -->
        <div class="row w-100">
          <div class="col-md-6 d-flex small py-2">
            <div class="hide-element" style="width: 38px;"></div>
            <div class="row">
              <div class="col-12">
                <h6 class="text-muted">Billing</h6>
              </div>
              <div class="col-3 d-flex flex-column">
                <b>Name:</b>
                <b>Email:</b>
                <b>Phone:</b>
              </div>
              <div class="col-9 d-flex flex-column">
                <div>{{ order.billing.fistName }} {{ order.billing.lastName }}</div>
                <div>
                  {{ order.billing.email }}
                </div>
                <div>
                  {{ order.billing.phone }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex py-2">
            <div class="hide-element" style="width: 38px;"></div>
            <div class="row small">
              <div class="col-12">
                <h6 class="text-muted">Shipping</h6>
              </div>
              <div class="col-3 d-flex flex-column">
                <b>Name:</b>
                <b>City:</b>
                <b>Address:</b>
                <b>Zip:</b>
              </div>
              <div class="col-9 d-flex flex-column">
                <div>{{ order.shipping.fistName }} {{ order.shipping.lastName }}</div>
                <div>{{ order.shipping.city }} ({{ order.shipping.state }})</div>
                <div>
                  {{ order.shipping.address1 }}
                </div>
                <div>
                  {{ order.shipping.postcode }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
