<div class="pos-f-t mobile-header d-block d-md-none ">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-3 d-flex justify-content-evenly">
      <a routerLink="/" class="font-weight-500 text-decoration-none">Home</a>
      <!--<a routerLink="/shop" class="font-weight-500 text-decoration-none">Shop</a>-->
      <a routerLink="/categories" class="font-weight-500 text-decoration-none">Categories</a>
      <a routerLink="/contact-us" class="font-weight-500 text-decoration-none">Contact Us</a>
    </div>
  </div>
  <nav class="navbar navbar-light border-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex flex-grow-1 justify-content-between align-items-center">
      <div class="logo ml-3">
        <a routerLink="/" class="d-flex">
          <img [src]="'/assets/img/logo/header-logo.svg'" alt="Logo">
        </a>
      </div>
      <div class="d-flex">
        <!--<a href="javascript:void(0)" class="d-flex text-decoration-none"><i class="material-icons-outlined mr-2">search</i></a>-->
        <a routerLink="/cart" class="d-flex text-decoration-none"><i
          class="material-icons-outlined mr-2">shopping_cart</i></a>
        <a [routerLink]="profilePageUrl" class="d-flex text-decoration-none" *ngIf="isAuthorized">
          <i class="material-icons-outlined">account_circle</i>
        </a>
        <a [routerLink]="loginPageUrl" class="d-flex text-decoration-none" *ngIf="!isAuthorized">
          <i class="material-icons-outlined">account_circle</i>
        </a>
      </div>
    </div>
  </nav>
</div>

<div class="d-none d-md-flex py-1 border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="menu-top-bar float-left">
          <li>
            <a href="javascript:void(0)">It is fast and easy. </a>
          </li>
        </ul>
        <ul class="menu-top-bar menu-top-bar-right float-right">
          <!--<li>-->
          <!--<a routerLink="/track-order" class="text-decoration-none">-->
          <!--&lt;!&ndash;<i class="material-icons">account_circle</i>&ndash;&gt;-->
          <!--Track Your Order-->
          <!--</a>-->
          <!--</li>-->
          <li>
            <a [routerLink]="profilePageUrl" *ngIf="isAuthorized">
              <!--<i class="material-icons">account_circle</i>-->
              My Account
            </a>
            <a [routerLink]="loginPageUrl" *ngIf="!isAuthorized">
              <!--<i class="material-icons">account_circle</i>-->
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="d-none d-md-flex">
  <div class="container">
    <div class="masthead d-flex align-items-center my-3">
      <a routerLink="/" class="logo">
        <img [src]="'/assets/img/logo/header-logo.svg'" alt="Logo">
      </a>
      <div class="menu flex-grow-1">
        <ul class="menu-main-menu">
          <li class="menu-item">
            <a routerLink="/">Home</a>
          </li>
          <li class="menu-item">
            <a routerLink="/categories">Categories</a>
          </li>
          <!--<li class="menu-item">-->
          <!--<a routerLink="/shop">Shop</a>-->
          <!--</li>-->
          <li class="menu-item">
            <a routerLink="/contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="support">
        <div class="support__container d-flex align-items-center">
          <img class="support__image mr-3" [src]="'/assets/img/header/support.svg'">
          <div class="support__text">
            <b>Support</b> {{phone}}<br>
            Email: {{email}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-none d-md-flex searchbar">
  <div class="container">

    <div class="searchbar__inner">
      <div class="searchbar__space"></div>
      <div class="searchbar__input-group my-1">
        <div class="input-search-field">
          <app-products-search
            (inputChanged)="inputChanged.emit($event)"
            [searchResults]="searchResults"
          ></app-products-search>
        </div>
        <div class="search-categories">
          <select name="product_cat" class="custom-select" style="width: 143px;">
            <option value="0" selected="selected">All Categories</option>
            <option class="level-0" [value]="item.slug" *ngFor="let item of categories">{{item.name}}</option>
          </select>
        </div>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-secondary" [disabled]="true">
            <i class="material-icons-outlined align-middle">search</i>
          </button>
        </div>
      </div>
      <div class="searchbar__icons pl-4">
        <a class="icon-item text-decoration-none text-dark position-relative" routerLink="/cart">
          <i class="icon material-icons-outlined">shopping_cart</i>
          <span class="cart-items-count" *ngIf="productsCount">{{productsCount}}</span>
          <span class="font-weight-500 ml-3">{{!productsPrice ? '0.00' : productsPrice }}$</span>
        </a>
      </div>
    </div>
  </div>
</div>

