<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
	   <rules>
		
		<!-- Angular Routing -->
		<rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
		
      </rules>
	  
	  <!-- Prevent Cache *.html -->
	  <outboundRules>
        <rule name="noCache" preCondition="noCacheContents">
            <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
            <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
        </rule>
         <preConditions>
            <preCondition name="noCacheContents" logicalGrouping="MatchAny">
                <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/json" />
            </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
	
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
	  <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
