<div class="inventory-page">
  <div class="container">
    <ng-container *ngIf="isLoading">
      <div fxFlex="row" fxLayoutAlign="center center" class="inventory-page__spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>

    <ng-container *ngIf="!isLoading">
      <div class="inventory-page__content" fxLayout="row" fxLayoutGap="10px">
        <div fxHide.sm>
          <h4 class="inventory-page__filter-title content-title mb-2">Filters</h4>
          <app-inventory-filters
            *ngIf="filter"
            [filter]="filter"
            [showCategory]="showCategories"
            (filterChanged)="onFilterChanged($event)"
          >
          </app-inventory-filters>
        </div>

        <div fxFlex.sm="100" fxFlex="70">
          <div fxLayoutAlign="end" class="inventory-page__actions">
            <app-sorting-bar
              class="inventory-page__sorting-bar"
              id="scrollView"
              (sortTypeChanged)="onSortTypeChanged($event)"
            ></app-sorting-bar>
          </div>

          <div class="text-center" style="height: 300px;" *ngIf="searchResult.items.length == 0">
            <h4>0 products</h4>
          </div>

          <div class="inventory-page__products" fxLayout="row wrap">
            <div
              fxFlex.xl="25"
              fxFlex.lg="33"
              fxFlex.md="50"
              fxFlex.sm="50"
              fxFlex.xs="100"
              *ngFor="
                let item of searchResult.items
                  | paginate
                    : {
                        itemsPerPage: paginationConfig.itemsPerPage,
                        currentPage: currentPage,
                        totalItems: totalResults
                      }
              "
            >
              <app-product-item
                [item]="item"
                [baseUrl]="'/product'"
                [allowPurchase]="authService.isAuthorized"
                (addedToCart)="onAddedToCart($event)"
              >
              </app-product-item>
            </div>
          </div>

          <div
            fxLayoutAlign="center center"
            class="inventory-page__pagination"
            *ngIf="totalResults > paginationConfig.itemsPerPage"
          >
            <pagination-controls
              (pageChange)="onPageChanged($event)"
              (pageBoundsCorrection)="onPageChanged($event)"
              maxSize="9"
              directionLinks="true"
              responsive="true"
              previousLabel="Previous"
              nextLabel="Next"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
