.inventory-page {
  .category-title {
    font-size: 1.786em;
    line-height: 1.6em;
    margin: 0;
    color: #333e48;
  }

  .shop-control-bar {
    background-color: #f5f5f5;
    height: 50px;
  }

  .inventory-page__filter-title {
    font-size: 1.286em;
  }
}
