.inventory-page {
  padding-top: 20px;
  position: relative;

  .inventory-page__progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .inventory-page__content {
    width: 100%;
  }

  .category-title {
    font-size: 1.786em;
    line-height: 1.6em;
    margin: 0;
    color: #333e48;
  }

  .inventory-page__filter-title {
    font-size: 1.286em;
    margin-bottom: 20px !important;
  }

  .inventory-page__empty-products {
    margin-top: 10px;
  }

  .inventory-page__products {
    margin-bottom: 20px;
    position: relative;

    &.inventory-page__products--loading {
      opacity: 0.5;
      &:before {
        z-index: 999;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  .inventory-page__spinner {
    height: 300px;
  }

  .inventory-page__content {
    padding-top: 30px;
  }

  .inventory-page__actions {
    padding: 0 5px;

    .inventory-page__sorting-bar {
      display: inline-block;
    }
  }

  .inventory-page__pagination {
    &.inventory-page__pagination--loading {
      opacity: 0.5;
      &:before {
        z-index: 999;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}
