<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-2 px-0 bg-white">
      <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/categories" class="text-decoration-none">Category</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{product.slug}}</li>
    </ol>
  </nav>
</div>
<div class="d-flex justify-content-center align-items-center" style="height: 300px;" *ngIf="!didLoaded">
  <div class="spinner-grow text-primary" role="status"></div>
</div>
<div class="container" *ngIf="didLoaded">
  <div class="row">
    <div class="col-12 col-md-4">
      <img class="w-100 rounded" [src]="product.firstImage">
    </div>
    <div class="col-12 col-md-8">
      <h3>{{product.name}}</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
      </p>
      <p>
        <b>SKU:</b> FW511948218
      </p>
      <p>
        <b>Price:</b> {{product.price | currency}}
      </p>
      <button class="btn btn-primary btn-sm" (click)="addToCart(product)">Add to Cart</button>
    </div>

    <div class="col-12 col-md-8">
      <h2 class="content-title mb-2">Related Products</h2>
    </div>

  </div>
</div>
