<div class="categories-page">
  <div class="container mb-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-2 bg-white">
        <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Categories</li>
      </ol>
    </nav>
  </div>

  <ng-template #loader>
    <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
      <div class="spinner-grow text-primary"></div>
    </div>
  </ng-template>

  <div class="container pb-4 pb-sm-5" *ngIf="categories$ | async as categories; else loader">
    <div class="row">
      <div class="col-md-4 col-sm-6 mb-3" *ngFor="let category of categories">
        <app-category-item class="category" [category]="category"></app-category-item>
      </div>
    </div>
  </div>
</div>
