<div *ngFor="let item of projects" class="media text-muted pt-3" (click)="itemClick.emit(item.id);" style="cursor: pointer">
  <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
       preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#007bff"/>
    <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
  </svg>
  <div class="media-body d-flex justify-content-between pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex flex-column justify-content-between">
          <div><strong class="d-block project-name text-gray-dark">{{item.name}}</strong></div>
          {{item.description}}
        </div>
  </div>
</div>
