.inventory-filters {
  .inventory-filters__filter-title {
    cursor: pointer;
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    justify-content: space-between;
  }

  .inventory-filters__filters {
    padding: 0 10px;
  }
}
