<form [formGroup]="filterForm" class="inventory-filters">
  <div class="inventory-filters__item">
    <h6 class="inventory-filters__title">Price</h6>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field class="inventory-filters__form-field">
        <mat-label>Min</mat-label>
        <input
          matInput
          type="number"
          [formControl]="minPrice"
          (change)="onMinMaxPriceChange(minPrice.value, maxPrice.value)"
        />
      </mat-form-field>
      <mat-form-field class="inventory-filters__form-field">
        <mat-label>Max</mat-label>
        <input
          matInput
          type="number"
          [formControl]="maxPrice"
          (change)="onMinMaxPriceChange(minPrice.value, maxPrice.value)"
        />
      </mat-form-field>
    </div>
    <dx-range-slider
      [min]="filters.minPrice"
      [max]="filters.maxPrice"
      [start]="filters.minPrice"
      [end]="filters.maxPrice"
      formControlName="price"
      (valueChange)="onPriceChange($event)"
    ></dx-range-slider>
  </div>

  <div class="inventory-filters__item">
    <h6 class="inventory-filters__title">Type</h6>
    <div>
      <mat-checkbox formControlName="forRent">For rent</mat-checkbox>
    </div>
    <mat-checkbox formControlName="forSale">For sale</mat-checkbox>
  </div>

  <div class="inventory-filters__item">
    <mat-form-field class="inventory-filters__stock-status-field">
      <mat-label>Stock status</mat-label>
      <mat-select formControlName="stockStatus">
        <mat-option
          *ngFor="
            let status of [
              { title: 'Instock', value: stockStatus.Instock },
              { title: 'Out of stock', value: stockStatus.OutOfStock },
              { title: 'On back order', value: stockStatus.OnBackOrder }
            ]
          "
          [value]="status.value"
        >
          {{ status.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="inventory-filters__item">
    <h6 class="inventory-filters__title">Tags</h6>
    <mat-chip-list aria-label="Tags">
      <mat-chip
        [selected]="selectedTag && selectedTag.id === tag.id"
        (click)="selectTag(tag)"
        *ngFor="let tag of tags"
        >{{ tag.name }}</mat-chip
      >
    </mat-chip-list>
  </div>
</form>
