<div class="inventory-filters filters-scope" *ngFor="let filter of filter.filterItems">
  <ng-container
    *ngIf="
      filter.name &&
      ((!filter.name.includes('rent_') && filter.name !== 'category') ||
        (showCategory && !filter.name.includes('rent_')))
    "
  >
    <div
      #usageFilter
      class="inventory-filters__filter-title"
      [class.text-primary]="filter.name === 'category'"
      (click)="usageFilter.isVisible = !usageFilter.isVisible"
    >
      <b>{{ filter.name }}</b>
      <div class="d-flex align-items-center">
        <i *ngIf="usageFilter.isVisible" class="material-icons mx-2">keyboard_arrow_down</i>
        <i *ngIf="!usageFilter.isVisible" class="material-icons mx-2">keyboard_arrow_up</i>
      </div>
    </div>

    <ng-container *ngIf="!usageFilter.isVisible">
      <div class="inventory-filters__filters" *ngFor="let filters of filter.items">
        <mat-checkbox (click)="toggleFilter(filter.name, filters)" [checked]="filters.isChecked"
          >{{ filters.name }} ({{ filters.count }})</mat-checkbox
        >
      </div>
    </ng-container>
  </ng-container>
</div>
